<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="content">
		<div id="container">
			<div class="login_wrap">
				<p class="page_title">비밀번호 찾기</p>

				<div class="info_box">
					이메일 주소와 아이디가 동일해야<br />임시 비밀번호가 전송됩니다.
				</div>

				<div class="find">
					<form th:action="@{/user/find-result( type=password )}" method="post" onsubmit="return validationOfForm(this)">
						<input type="text" name="username" class="input_box" maxlength="50" placeholder="아이디" />
						<input type="text" name="phone" class="input_box" maxlength="11" placeholder="연락처" />
	
						<div class="btn_wrap">
							<button type="submit" class="btn btn_black">임시 비밀번호 전송하기</button>
						</div>
	
						<div class="info_box">
							임시 비밀번호는 로그인 이후에 다른 비밀번호로 반드시 변경해 주세요.
						</div>
					</form>
				</div>
			</div>
			<!--/* //.login_wrap */-->
		</div>
		<!--/* //#container */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* <![CDATA[ */

			function validationOfForm(form) {

				var result = (
						isValid(form.username, "아이디", null, null)
					 && isValid(form.phone, "연락처", null, null)
				);

				return result;
			}

		/* ]]> */
		</script>
	</th:block>

</html>