<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.mapper.CartMapper">

	<sql id="cartColumns">
		  idx
		, username
		, code
		, delete_yn
		, insert_time
		, update_time
	</sql>

	<insert id="insertGoodsToCart" parameterType="CartDTO">
		INSERT INTO cart (
			<include refid="cartColumns" />
		) VALUES (
			  #{idx}
			, #{username}
			, #{code}
			, 'N'
			, NOW()
			, NULL
		)
	</insert>

	<delete id="deleteGoodsInCart" parameterType="hashmap">
		DELETE FROM cart
		WHERE
			username = #{username}
		AND
			code IN
			<foreach item="code" index="index" collection="codes" open="(" separator="," close=")">
				#{code}
			</foreach>
	</delete>

	<select id="selectGoodsListInCart" parameterType="string" resultType="GoodsDTO">
		SELECT
			<include refid="cartColumns" />
		FROM
			cart
		WHERE
			username = #{username}
		ORDER BY
			idx DESC, insert_time DESC
	</select>

	<select id="selectGoodsCountInCart" parameterType="CartDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			cart
		WHERE
			username = #{username}
		<if test="@com.dy.util.MyBatisUtils@isEmpty( code ) == false">
			AND
				code = #{code}
		</if>
	</select>

</mapper>