<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.mapper.CartMapper">

	<resultMap id="carResultMap"			type="CartDTO">
		<id		property="idx"				column="idx" />
		<result property="username"			column="username" />
		<result property="code"				column="code" />
		<result property="size"				column="size" />
		<result property="quantity"			column="quantity" />
		<result property="deleteYn"			column="delete_yn" />
		<result property="insertTime"		column="insert_time" />
		<result property="updateTime"		column="update_time" />

		<association property="goods"			javaType="GoodsDTO">
			<id		property="idx"				column="idx" />
			<result property="code"				column="code" />
			<result property="name"				column="name" />
			<result property="description"		column="description" />
			<result property="price"			column="price" />
			<result property="status"			column="status" />
			<result property="deleteYn"			column="delete_yn" />
			<result property="insertTime"		column="insert_time" />
			<result property="updateTime"		column="update_time" />

			<association property="stock"			javaType="StockDTO">
				<id property="idx"					column="idx" />
				<result property="code"				column="code" />
				<result property="color"			column="color" />
				<result property="options"			column="options" />
				<result property="deleteYn"			column="delete_yn" />
				<result property="insertTime"		column="insert_time" />
				<result property="updateTime"		column="update_time" />
			</association>
		</association>
	</resultMap>

	<sql id="cartColumns">
		  idx
		, username
		, code
		, size
		, quantity
		, delete_yn
		, insert_time
		, update_time
	</sql>

	<insert id="insertGoodsToCart" parameterType="CartDTO">
		INSERT INTO cart (
			<include refid="cartColumns" />
		) VALUES (
			  #{idx}
			, #{username}
			, #{code}
			, #{size}
			, #{quantity}
			, 'N'
			, NOW()
			, NULL
		)
	</insert>

	<update id="deleteGoodsInCart" parameterType="hashmap">
		UPDATE cart
		SET
			  update_time = NOW()
			, delete_yn = 'Y'
		WHERE
			username = #{username}
		AND
			code IN
			<foreach item="code" index="index" collection="codes" open="(" separator="," close=")">
				#{code}
			</foreach>
	</update>

	<select id="selectGoodsListInCart" parameterType="string" resultMap="carResultMap">
		SELECT 
			  G.code
			, C.size
			, C.quantity
		    , G.name
		    , G.price
		    , S.color
		    , S.options
		FROM
		    cart AS C
		        INNER JOIN
		    goods AS G ON (C.code = G.code)
		        INNER JOIN
		    stock AS S ON (S.code = G.code)
		WHERE
			C.delete_yn = 'N'
		AND
			G.delete_yn = 'N'
		AND
			S.delete_yn = 'N'
		AND
		    C.username = #{username}
	</select>

	<select id="selectGoodsCountInCart" parameterType="CartDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			cart
		WHERE
			delete_yn = 'N'
		AND
			username = #{username}
		AND
			code = #{code}
	</select>

	<select id="selectGoodsCountInCartByUsername" parameterType="string" resultType="int">
		SELECT
			COUNT(*)
		FROM
			cart
		WHERE
			delete_yn = 'N'
		AND
			username = #{username}
	</select>

</mapper>