<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

	<!-- MySQL 페이징 -->
	<sql id="paging">
		LIMIT
			#{paginationInfo.firstRecordIndex}, #{recordCountPerPage}
	</sql>

	<!-- MySQL 검색 -->
	<sql id="search">
		<!-- 검색 키워드가 존재하는 경우 -->
		<if test="@com.dy.util.MyBatisUtils@isEmpty( searchKeyword ) == false">
			<choose>
				<!-- 타입이 존재하지 않는 경우 -->
				<when test="@com.dy.util.MyBatisUtils@isEmpty( searchType )">
					AND
						(
							REPLACE(name, ' ', '') LIKE CONCAT('%', REPLACE(#{searchKeyword}, ' ', ''), '%')
							OR REPLACE(description, ' ', '') LIKE CONCAT('%', REPLACE(#{searchKeyword}, ' ', ''), '%')
						)
				</when>
				<!-- 타입이 존재하는 경우 -->
				<when test="@com.dy.util.MyBatisUtils@isEmpty( searchType ) == false">
					AND
						#{searchType} LIKE CONCAT('%', REPLACE(#{searchKeyword}, ' ', ''), '%')
				</when>
				<!-- 정렬 순서가 존재하는 경우 -->
				<when test="@com.dy.util.MyBatisUtils@isEmpty( searchOrder ) == false">
					ORDER BY
						#{searchOrder, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
				</when>
			</choose>
		</if>
	</sql>

</mapper>
