<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.mapper.GoodsMapper">

	<sql id="goodsColumns">
		  idx
		, code
		, name
		, description
		, price
		, rate
		, status
		, delete_yn
		, insert_time
		, update_time
	</sql>

	<resultMap id="goodsResultMap" type="GoodsDTO">
		<id 	property="idx" 			column="idx" />
		<result property="code" 		column="code" />
		<result property="name" 		column="name" />
		<result property="description" 	column="description" />
		<result property="price" 		column="price" />
		<result property="rate" 		column="rate" />
		<result property="status" 		column="status" />
		<result property="deleteYn" 	column="delete_yn" />
		<result property="insertTime" 	column="insert_time" />
		<result property="updateTime" 	column="update_time" />

		<collection property="attachList" javaType="list" ofType="AttachDTO">
			<id 	property="idx" 			column="idx" />
			<result property="code" 		column="code" />
			<result property="originalName"	column="original_name" />
			<result property="storedName"	column="stored_name" />
			<result property="size"			column="size" />
			<result property="deleteYn" 	column="delete_yn" />
			<result property="insertTime" 	column="insert_time" />
			<result property="updateTime" 	column="update_time" />
		</collection>
	</resultMap>

	<insert id="insertGoods" parameterType="GoodsDTO">
		INSERT INTO goods (
			<include refid="goodsColumns" />
		) VALUES (
			  #{idx}
			, #{code}
			, #{name}
			, #{description}
			, #{price}
			, IFNULL(#{rate}, 0)
			, IFNULL(#{status}, 'Y')
			, 'N'
			, NOW()
			, NULL
		)
	</insert>

	<select id="selectGoodsDetails" parameterType="string" resultType="GoodsDTO">
		SELECT
			<include refid="goodsColumns" />
		FROM
			goods
		WHERE
			delete_yn = 'N'
		AND
			code = #{code}
	</select>

	<update id="updateGoods" parameterType="GoodsDTO">
		UPDATE goods
		SET
			  update_time = NOW()
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( name ) == false">
		  	, name = #{name}
		  </if>
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( description ) == false">
			, description = #{description}
		  </if>
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( price ) == false">
			, price = #{price}
		  </if>
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( rate ) == false">
			, rate = #{rate}
		  </if>
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( status ) == false">
			, status = #{status}
		  </if>
		WHERE
			code = #{code}
	</update>

	<delete id="deleteGoods" parameterType="list">
		DELETE FROM goods
		WHERE
			code IN
			<foreach item="code" index="index" collection="list" open="(" separator="," close=")">
				#{code}
			</foreach>
	</delete>

	<select id="selectGoodsList" parameterType="GoodsDTO" resultType="GoodsDTO">
		SELECT
			<include refid="goodsColumns" />
		FROM
			goods
		WHERE
			(status = 'Y' AND delete_yn = 'N')
		ORDER BY
			idx DESC, insert_time DESC
		<include refid="CommonMapper.paging" />
	</select>

	<select id="selectGoodsListWithMainImage" parameterType="GoodsDTO" resultMap="goodsResultMap">
		SELECT
			  g.code
			, g.name
		    , g.price
		    , g.rate
		    , a.stored_name
		    , a.insert_time
		FROM
		    (SELECT 
		        g.code, MIN(a.idx) AS idx
		    FROM
		        goods AS g
		    INNER JOIN attach AS a ON g.code = a.code
		    GROUP BY g.code) AS first
		        INNER JOIN
		    attach AS a ON first.idx = a.idx
		        RIGHT OUTER JOIN
		    goods AS g ON first.code = g.code
		<where>
			g.delete_yn = 'N'
			<if test="@com.dy.util.MyBatisUtils@isEmpty( status ) == false">
				AND g.status = #{status}
			</if>
			<include refid="CommonMapper.search" />
		</where>
		<choose>
			<!-- 검색 조건이 존재하는 경우 -->
			<when test="@com.dy.util.MyBatisUtils@isEmpty( searchOrder ) == false">
				<choose>
					<when test='searchOrder.name() == "NEW"'>
						ORDER BY g.idx DESC , g.insert_time DESC 
					</when>
					<when test='searchOrder.name() == "LOW"'>
						ORDER BY g.price ASC 
					</when>
					<when test='searchOrder.name() == "HIGH"'>
						ORDER BY g.price DESC 
					</when>
				</choose>
			</when>
			<otherwise>
				ORDER BY g.idx DESC , g.insert_time DESC
			</otherwise>
		</choose>
		<include refid="CommonMapper.paging" />
	</select>

	<select id="selectGoodsTotalCount" parameterType="GoodsDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			goods
		WHERE
			delete_yn = 'N'
		<if test="@com.dy.util.MyBatisUtils@isEmpty( status ) == false">
			AND
				status = #{status}
		</if>
		<include refid="CommonMapper.search" />
	</select>

	<select id="generateGoodsCode" resultType="string">
		SELECT
			CONCAT(#{tableName, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, '-', LPAD(COUNT(idx) + 1, 5, 0))
		FROM
			goods
	</select>

	<select id="checkForDuplicateGoodsCode" parameterType="string" resultType="int">
		SELECT
			COUNT(code)
		FROM
			goods
		WHERE
			code = #{code}
	</select>

	<select id="generateMaxGoodsCode" resultType="string">
		SELECT
			CONCAT(#{tableName, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, '-', LPAD(MAX(idx) + 1, 5, 0))
		FROM
			goods
	</select>

</mapper>