<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.mapper.PurchaseMapper">

	<sql id="purchaseColumns">
		  idx
		, username
		, code
		, sequence
		, amount
		, recipient
		, phone
		, postcode
		, address
		, detail_address
		, request_message
		, pay_method
		, status
		, delete_yn
		, insert_time
		, update_time
	</sql>

	<insert id="insertPurchase" parameterType="PurchaseDTO">
		INSERT INTO purchase (
			<include refid="purchaseColumns" />
		) VALUES (
			  #{idx}
			, #{username}
			, #{code}
			, #{sequence}
			, #{amount}
			, #{recipient}
			, #{phone}
			, #{postcode}
			, #{address}
			, #{detailAddress}
			, #{requestMessage}
			, #{payMethod}
			, IFNULL(#{status}, 'Y')
			, 'N'
			, NOW()
			, NULL
		)
	</insert>

	<select id="selectPurchaseDetails" parameterType="hashmap" resultType="PurchaseDTO">
		SELECT
			<include refid="purchaseColumns" />
		FROM
			purchase
		WHERE
			delete_yn = 'N'
		AND
			username = #{username}
		AND
			idx = #{idx}
	</select>

	<!-- TODO => 구매 내역 삭제도 필요한지 검토해보기 -->
	<update id="deletePurchase" parameterType="hashmap">
		UPDATE purchase
		SET
			delete_yn = 'Y'
		WHERE
			username = #{username}
		AND
			idx = #{idx}
	</update>

	<select id="selectPurchaseList" parameterType="string" resultType="PurchaseDTO">
		SELECT
			<include refid="purchaseColumns" />
		FROM
			purchase
		WHERE
			delete_yn = 'N'
		AND
			username = #{username}
	</select>

	<select id="selectPurchaseTotalCount" parameterType="string" resultType="int">
		SELECT
			COUNT(*)
		FROM
			purchase
		WHERE
			delete_yn = 'N'
		AND
			username = #{username}
	</select>

	<!-- 민성이형이 도와주신 쿼리! (아래 두 개의 셀렉트를 다음과 같이 처리할 수 있음) -->
	<!-- <resultMap id="selectMyPpurchase" type="MyCartDTO">
		<result property="sequence"         column="sequence"/>
		<collection property="myList" column="{sequence=sequence}" select="getListMyPpurchaseTwo" javaType="java.util.ArrayList"/>
	</resultMap>
	<select id="getListMyPpurchase" parameterType="string" resultMap="selectMyPpurchase">
		SELECT sequence
		FROM purchase
		WHERE username = #{username}
		GROUP BY sequence
	</select>
	<select id="getListMyPpurchaseTwo" parameterType="MyCartDTO" resultType="MyCartDTO">
		SELECT *
		FROM purchase
		WHERE sequence = #{sequence}
	</select> -->

	<select id="selectPurchaseSequenceList" parameterType="string" resultType="integer">
		SELECT
			sequence
		FROM
			purchase
		WHERE
			username = #{username}
		AND
			status = 'Y'
		GROUP BY
			sequence
		ORDER BY
			sequence DESC
	</select>

	<select id="selectPurchaseGoodsList" parameterType="integer" resultType="PurchaseDTO">
		SELECT
			<include refid="purchaseColumns" />
		FROM
			purchase
		WHERE
			sequence = #{sequence}
		AND
			status = 'Y'
	</select>

</mapper>