<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.mapper.ReviewMapper">

	<sql id="reviewColumns">
		  idx
		, username
		, code
		, nickname
		, content
		, grade
		, delete_yn
		, insert_time
		, update_time
	</sql>

	<insert id="insertReview" parameterType="ReviewDTO">
		INSERT INTO review (
			<include refid="reviewColumns" />
		) VALUES (
			  #{idx}
			, #{username}
			, #{code}
			, #{nickname}
			, #{content}
			, #{grade}
			, 'N'
			, NOW()
			, NULL
		)
	</insert>

	<update id="updateReview" parameterType="ReviewDTO">
		UPDATE review
		SET
			  update_time = NOW()
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( content ) == false">
		  	, content = #{content}
		  </if>
		  <if test="@com.dy.util.MyBatisUtils@isEmpty( grade ) == false">
		  	, grade = #{grade}
		  </if>
		WHERE
			username = #{username}
		AND
			idx = #{idx}
	</update>

	<update id="deleteReview" parameterType="hashmap">
		UPDATE review
		SET
			  update_time = NOW()
			, delete_yn = 'Y'
		WHERE
			username = #{username}
		AND
			idx = #{idx}
	</update>

	<select id="selectReviewList" parameterType="ReviewDTO" resultType="ReviewDTO">
		SELECT
			<include refid="reviewColumns" />
		FROM
			review
		WHERE
			delete_yn = 'N'
		AND
			code = #{code}
		ORDER BY
			idx DESC, insert_time DESC
		<include refid="CommonMapper.paging" />
	</select>

	<select id="selectReviewTotalCount" parameterType="string" resultType="int">
		SELECT
			COUNT(*)
		FROM
			review
		WHERE
			delete_yn = 'N'
		AND
			code = #{code}
	</select>

</mapper>