<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- TODO => 여유가 있을 때, resultMap으로 변경하기 isXXX와 컬럼이 매핑이 되지 않음 -->
<mapper namespace="com.dy.mapper.UserMapper">

	<!-- <resultMap id="userResultMap" type="UserDTO">
		<id property="idx" column="idx" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="phone" column="phone" />
		<result property="accountNonExpired" column="account_non_expired" />
		<result property="accountNonLocked" column="account_non_locked" />
		<result property="credentialsNonExpired" column="credentials_non_expired" />
		<result property="enabled" column="enabled" />
		<result property="deleteYn" column="delete_yn" />
		<result property="insertUser" column="insert_user" />
		<result property="insertTime" column="insert_time" />
		<result property="updateUser" column="update_user" />
		<result property="updateTime" column="update_time" />
		<collection property="authorities" javaType="collection" ofType="AuthorityDTO" />
	</resultMap> -->

	<sql id="userColumns">
		  idx
		, username
		, password
		, nickname
		, phone
		, account_non_expired
		, account_non_locked
		, credentials_non_expired
		, enabled
		, delete_yn
		, insert_user
		, insert_time
		, update_user
		, update_time
	</sql>

	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO user (
			<include refid="userColumns" />
		) VALUES (
			  #{idx}
			, #{username}
			, #{password}
			, #{nickname}
			, #{phone}
			, 1
			, 1
			, 1
			, 1
			, 'N'
			, IFNULL(#{username}, 'ADMIN')
			, NOW()
			, NULL
			, NULL
		)
	</insert>

	<select id="selectUserDetails" parameterType="UserDTO" resultType="UserDTO">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		<where>
			delete_yn = 'N'
			<if test="@com.dy.util.MyBatisUtils@isEmpty( username ) == false">
				AND username = #{username}
			</if>
			<if test="@com.dy.util.MyBatisUtils@isEmpty( nickname ) == false">
				AND nickname = #{nickname}
			</if>
			<if test="@com.dy.util.MyBatisUtils@isEmpty( phone ) == false">
				AND phone = #{phone}
			</if>
		</where>
     </select>

     <select id="selectUserDetailsByUsername" parameterType="string" resultType="UserDTO">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		WHERE
			delete_yn = 'N'
		AND
			username = #{username}
     </select>

	<update id="updateUser" parameterType="UserDTO">
		UPDATE user
		SET
			  update_time = NOW()
			, update_user = IFNULL(#{username}, 'ADMIN')
		<if test="@com.dy.util.MyBatisUtils@isEmpty( nickname ) == false">
			, nickname = #{nickname}
		</if>
		<if test="@com.dy.util.MyBatisUtils@isEmpty( password ) == false">
			, password = #{password}
		</if>
		<if test="@com.dy.util.MyBatisUtils@isEmpty( phone ) == false">
			, phone = #{phone}
		</if>
		WHERE
			username = #{username}
	</update>

	<update id="deleteUser" parameterType="string">
		UPDATE user
		SET
			delete_yn = 'Y'
		WHERE
			username = #{username}
	</update>

	<select id="selectUserList" resultType="UserDTO">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		WHERE
			delete_yn = 'N'
	</select>

	<select id="selectUserTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			delete_yn = 'N'
	</select>

</mapper>