<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- TODO => 여유가 있을 때, resultMap으로 변경하기 isXXX와 컬럼이 매핑이 되지 않음 -->
<mapper namespace="com.dy.mapper.UserMapper">

	<sql id="userColumns">
		  idx
		, username
		, password
		, nickname
		, phone
		, account_non_expired
		, account_non_locked
		, credentials_non_expired
		, enabled
		, failure_count
		, insert_user
		, insert_time
		, update_user
		, update_time
		, last_login_time
	</sql>

	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO user (
			<include refid="userColumns" />
		) VALUES (
			  #{idx}
			, #{username}
			, #{password}
			, #{nickname}
			, #{phone}
			, 1
			, 1
			, 1
			, 1
			, 0
			, IFNULL(#{username}, 'ADMIN')
			, NOW()
			, NULL
			, NULL
			, NULL
		)
	</insert>

	<select id="selectUserDetails" parameterType="UserDTO" resultType="UserDTO">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		<where>
			enabled = 1
			<if test="@com.dy.util.MyBatisUtils@isEmpty( username ) == false">
				AND username = #{username}
			</if>
			<if test="@com.dy.util.MyBatisUtils@isEmpty( nickname ) == false">
				AND nickname = #{nickname}
			</if>
			<if test="@com.dy.util.MyBatisUtils@isEmpty( phone ) == false">
				AND phone = #{phone}
			</if>
		</where>
     </select>

     <select id="selectUserDetailsByUsername" parameterType="string" resultType="UserDTO">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		WHERE
			enabled = 1
		AND
			username = #{username}
     </select>

	<update id="updateUser" parameterType="UserDTO">
		UPDATE user
		SET
			  update_time = NOW()
			, update_user = IFNULL(#{username}, 'ADMIN')
		<if test="@com.dy.util.MyBatisUtils@isEmpty( nickname ) == false">
			, nickname = #{nickname}
		</if>
		<if test="@com.dy.util.MyBatisUtils@isEmpty( password ) == false">
			, password = #{password}
		</if>
		<if test="@com.dy.util.MyBatisUtils@isEmpty( phone ) == false">
			, phone = #{phone}
		</if>
		WHERE
			username = #{username}
	</update>

	<update id="deleteUser" parameterType="string">
		UPDATE user
		SET
			enabled = 0
		WHERE
			username = #{username}
	</update>

	<select id="selectUserList" resultType="UserDTO">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		WHERE
			enabled = 1
	</select>

	<select id="selectUserTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			enabled = 1
	</select>

	<update id="increaseLoginFailureCount" parameterType="string">
		UPDATE user
		SET
			failure_count = failure_count + 1
		WHERE
			username = #{username}
	</update>

	<update id="initializeLoginFailureCount" parameterType="string">
		UPDATE user
		SET
			failure_count = 0
		WHERE
			username = #{username}
	</update>

	<update id="lockUserAccount" parameterType="string">
		UPDATE user
		SET
			account_non_locked = 0
		WHERE
			username = #{username}
	</update>

	<update id="unlockUserAccount" parameterType="string">
		UPDATE user
		SET
			account_non_locked = 1
		WHERE
			username = #{username}
	</update>

</mapper>