<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div class="popup_inner">
		<div class="popup_header">
			<p>배송지 목록</p>
			<a href="#none" class="btn btn_close" onclick="popClose(this);">닫기</a>
		</div>
		<div class="popup_contents">
			<div class="table table_head">
				<div class="table_row">
					<div class="col1">배송지명</div>
					<div class="col2">주소</div>
					<div class="col3">연락처</div>
					<div class="col4">선택</div>
				</div>
			</div>
			<ul class="table table_body">
				<li class="table_row">
					<div class="col1">집 <span class="label label_basic">기본배송지</span></div>
					<div class="col2">인천광역시 부평구 부평동</div>
					<div class="col3">01023456789</div>
					<div class="col4">
						<button type="button" class="btn btn_border_black">선택</button>
						<button type="button" class="btn btn_border_black">삭제</button>
					</div>
				</li>
			</ul>
		</div>
		<!--/* //.popup_contents */-->
	</div>
	<!--/* //.popup_inner */-->
	<div class="popup_bg" onclick="popClose(this);"></div>

</html>