<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<th:block layout:fragment="add-resource">
		<!--/* slick */-->
		<link rel="stylesheet" type="text/css" th:href="@{/user/jquery/slick/slick.css}"/>
		<script type="text/javascript" th:src="@{/user/jquery/slick/slick.min.js}"></script>
	</th:block>

	<th:block layout:fragment="content">
		<div id="container">
			<div class="clear">
				<div class="inner view fl_wrap">
					<!-- slide -->
					<div class="slide_wrap">
						<div class="slide">
							<!--/* 오브젝트 다음에 status(변수)를 지정할 수 있고, 지정하지 않은 경우 imageStat.index, size, count, even, odd, first, last와 같이 사용할 수 있음 */-->
							<div class="" th:if="${not #arrays.isEmpty(images)}" th:each="image, status : ${images}">
								<div class="img_wrap">
									<span class="img_box">
										<img th:src="@{/goods/images/} + ${#temporals.format( image.insertTime, 'yy-MM-dd' )} + '/' + ${image.storedName}" th:alt="shoes + ${status.index}" />
									</span>
								</div>
							</div>
						</div>
						<div class="slide_pager">
							<div class="" th:if="${not #arrays.isEmpty(images)}" th:each="image, status : ${images}">
								<img th:src="@{/goods/images/} + ${#temporals.format( image.insertTime, 'yy-MM-dd' )} + '/' + ${image.storedName}" th:alt="shoes + ${status.index}" />
							</div>
						</div>
						<script>
							$(document).ready(function () {
								$('.slide').slick({
									autoplay: false,
									autoplaySpeed: 1500,
									slidesToShow: 1,
									slidesToScroll: 1,
									arrows: false,
									fade: true,
									asNavFor: '.slide_pager'
								});
								$('.slide_pager').slick({
									slidesToShow: 6,
									slidesToScroll: 1,
									asNavFor: '.slide',
									dots: false,
									arrows: false,
									focusOnSelect: true
								});
							});
						</script>
					</div>
					<!-- //slide -->

					<!-- 상세정보 -->
					<div class="pd_info_wrap">
						<form th:action="@{/goods/purchase}" th:object="${goods}" method="post" onsubmit="return validationOfForm(this)">
							<!-- 상세 이름, 가격, 별점 -->
							<div class="pd_title_wrap">
								<h1 th:text="${goods.name}" class="pd_title">상품명</h1>
								<del th:text="${#numbers.formatInteger( goods.price, 3, 'COMMA' )}" style="font-size: 17px;"></del>
								<p th:if="${status == T(com.dy.common.Const.Status).D}" th:text="${#numbers.formatInteger( goods.price, 3, 'COMMA' )}" class="pd_price"></p>
								<p th:unless="${status == T(com.dy.common.Const.Status).D}" th:text="${#numbers.formatInteger(T(Math).floor(((goods.price * (1 - goods.rate / 100.0)) / 10.0)) * 10.0, 3, 'COMMA')}" class="pd_price"></p>
								<div class="pd_review">
									<span th:class="|ic_star ic_star${reviewAverage}|"></span>
								</div> 
							</div>
							<!-- //상세 이름, 가격 -->
			
							<!-- 상세 옵션 -->
							<div class="pd_option_wrap">
								<div class="pd_option option_color">
									<h2 class="tit">
										색상
										<span th:text="${goods.stock.color}"></span>
									</h2>
								</div>

								<div class="pd_option option_size">
									<h2 class="tit">사이즈</h2>
									<div class="cont">
										<label class="radio_size" th:if="${not #arrays.isEmpty( options )}" th:each="size : ${options.keySet()}" th:for="size + ${size}" th:classappend="${#strings.equals( options.get(size), '0' )} ? 'soldout'">
											<input type="radio" name="size" th:id="size + ${size}" th:value="${size}" th:attr="data-actual-quantity=${options.get(size)}" th:disabled="${#strings.equals( options.get(size), '0' )}" />
											<span th:text="${size}">사이즈</span>
										</label>
									</div>
								</div>

								<div class="pd_option option_quantity">
									<h2 class="tit">수량</h2>
									<div class="cont">
										<input type="text" id="quantity" name="quantity" value="1" maxlength="2" onfocusout="checkQuantity(this)" />
										<button type="button" class="btn_plus" onclick="addQuantity(document.getElementById('quantity'))">+</button>
										<button type="button" class="btn_minus" onclick="reduceQuantity(document.getElementById('quantity'))">-</button>
									</div>
								</div>
							</div>
							<!-- //상세 옵션 -->

							<div class="btn_wrap">
								<a th:if="${favoriteStatus == 1}" href="javascript:void(0)" class="btn btn_border_black active" onclick="changeFavoriteStatus(this)" th:text="|💗  ${favoriteTotalCount}|"></a>
								<a th:unless="${favoriteStatus == 1}" href="javascript:void(0)" class="btn btn_border_black" onclick="favorite(this)" th:text="|💗  ${favoriteTotalCount}|"></a>
								<a href="javascript:void(0)" class="btn btn_black" th:onclick="addToCart([[ *{code} ]])">장바구니 담기</a>
								<!--/* TODO => 바로 구매 처리하기 */-->
								<!--/* <a href="javascript: void(0)" class="btn btn_orange" th:onclick="goPurchase([[ *{code} ]])">바로 구매</a> */-->
							</div>
						</form>
					</div>
					<!-- //상세정보 -->
		
					
					<!-- 상세설명 -->
					<div class="pd_detail_wrap clear tab_wrap">
						<div class="pd_detail_tab text_center">
							<a href="javascript:void(0)" onclick="tabFunc(this, '#pdDetail');" class="active">상품 설명</a>
							<a href="javascript:void(0)" onclick="tabFunc(this, '#pdDelivery');">배송/반품 안내</a>
							<a href="javascript:void(0)" onclick="tabFunc(this, '#pdReview');">상품 리뷰</a>
						</div>
						<div id="pdDetail" class="pd_detail text_center tab_cont" style="display: block;">
							<img th:src="@{/user/images/common/detail.jpg}" alt="" />
						</div>

						<div id="pdDelivery" class="pd_delivery tab_cont">
							<dl>
								<dt>배송사</dt>
								<dd>우체국택배 (상품 준비 기간이 소요 될 수 있습니다.)</dd>
								<dt>배송 안내</dt>
								<dd>- 3만원 이상은 무료배송입니다.</dd>
								<dd>- 3만원 미만 구매시 2,500원이 부과 됩니다. 도서산간지역은 추가비용과 배송기간이 발생할 수 있습니다.</dd>
								<dd>- 주문한 상품은 영업일 3일(공휴일/주말 제외) 이내에 받아보실 수 있습니다. 상품준비에 에러사항이 있거나, 발송지연이 불가피할 경우 고객님께 안내 연락을 드립니다.</dd>
								<dt>반송시 택배회사</dt>
								<dd>우체국택배 (지정된 택배 이외의 타 택배사 이용시 추가되는 비용은 고객님께서 부담하셔야 합니다.)</dd>
								<dd>[ 반송지 주소 인천광역시 부평구 산곡동 ]</dd>
								<dt>반품 정보</dt>
								<dd>- 상품이 이미 출고 되었을 때 수취 거부가 불가합니다.</dd>
								<dd>- 반품은 상품 수령일로부터 7일 이내에 반품접수를 하셔야 하며, 접수 후 (업무일) 3일이내에 본사 반송지에 도착하여야 합니다.</dd>
								<dd>- 반품시, 도영 온라인몰에서 꼭 반품접수를 하신 후 진행하셔야 합니다.</dd>
								<dd>- AS 문의는 고객센터에 문의를 하여야 합니다.</dd>
								<dd>- 상품포장이 훼손되거나 상품가치가 상실된 경우 반품이 불가합니다.</dd>
								<dt>반품 배송비</dt>
								<dd>- 고객단순변심 시, 배송비는 고객 부담입니다.</dd>
								<dd>- 상품불량 및 오배송 시, 배송비는 판매자 부담입니다.</dd>
								<dd>- 주문시 무료배송으로 수령하신 경우, 고객단순 변심시 최초 배송비가 포함 부과됩니다.</dd>
								<dd>- 개별 반송 시, 추가적으로 발생하는 비용은 고객 부담입니다.</dd>
								<dt>반품불가 경우</dt>
								<dd>- 반품요청 기간(7일)이 지난 경우</dd>
								<dd>- 포장을 개봉하였거나 포장이 훼손되어(상품의 Tag분리/분실, 비닐포장 훼손, 신발박스 훼손 등) 상품가치가 현저히 감소한 경우</dd>
								<dd>- 악세서리 고유의 포장을 개봉 하였으나 단순 변심으로 교환, 반품 원하는 경우</dd>
								<dd>- 구매자의 책임있는 사유로 상품 등이 멸실 또는 훼손된 경우</dd>
								<dd>- 구매자의 사용 또는 일부 소비에 의하여 상품가치가 현저히 감소한 경우</dd>
								<dd>- 기간의 경과에 의하여 재판매가 곤란할 정도로 상품가치가 현저히 감소한 경우</dd>
								<dd>- 주문확인 후 상품제작에 들어가는 주문제작 상품인 경우</dd>
								<dd>- 복제가 가능한 상품 등의 포장을 훼손한 경우</dd>
								<dd>- 단, 재화 등의 내용이 표시 (이미지 또는 기능을 포함) 및 광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급 받은 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약 철회 등을 할 수 있습니다.</dd>
							</dl>
						</div>

						<!--/* 리뷰 영역 */-->
						<div id="pdReview" class="pd_review tab_cont"></div>
					</div>
					<!-- //상세설명 -->

					<!-- 리뷰 팝업 -->
					<div class="popup_wrap" id="reviewPop" style="display: none;">
						<div class="popup_inner">
							<div class="popup_header">
								<p>리뷰쓰기</p>
								<a href="#none" class="btn btn_close" onclick="popClose(this);">닫기</a>
							</div>
							<div class="popup_contents">
								<form id="reviewForm" th:action="@{/reviews}" method="post" onsubmit="return registerReview(this)">
									<!--/* 상품 코드 */-->
									<input type="hidden" name="code" th:value="${goods.code}" />
									<!--/* 회원 닉네임 */-->
									<input sec:authorize="isAuthenticated()" type="hidden" name="nickname" th:value="${#authentication.principal.nickname}" />
									<!--/* 별점 */-->
									<input type="hidden" name="grade" value="0" />

									<div class="review_info fl_wrap">
										<div class="img_box">
											<img th:src="@{/goods/images/} + ${#temporals.format( images[0].insertTime, 'yy-MM-dd' )} + '/' + ${images[0].storedName}" th:alt="${images[0].originalName}" />
										</div>
										<div class="txt_box">
											<p th:text="${goods.name}"></p>
											<strong th:text="|${#numbers.formatInteger( goods.price, 3, 'COMMA' )}원|"></strong>
										</div>
									</div>
									<div class="review_star">
										<span th:each="seq : ${#numbers.sequence(1, 5, 1)}" class="icon ic_star_lg" th:onclick="selectScore(this, [[ ${seq} ]])"></span>
									</div>
									<div class="review_cont">
										<textarea name="content" placeholder="상품 리뷰를 입력해 주세요."></textarea>
										<!-- <div class="filebox">
											<input type="text" readonly="readonly" title="File Route" id="file_route">
											<label class="btn btn_black">
												사진 추가
												<input type="file">
												<input type="file" onchange="javascript:document.getElementById('file_route').value=this.value">
											</label>
										</div>
										<ul class="add_photo">
											<li>
												<img th:src="@{/images/common/thumb.jpg}" alt="" />
												<button type="button" class="btn_delete">삭제</button>
											</li>
											<li>
												<img th:src="@{/images/common/thumb.jpg}" alt="" />
												<button type="button" class="btn_delete">삭제</button>
											</li>
										</ul> -->
									</div>
									<div class="btn_wrap">
										<input type="submit" value="작성완료" class="btn btn_orange" />
									</div>
								</form>
							</div>
						</div>
						<div class="popup_bg" onclick="popClose(this);"></div>
					</div>
					<!--/* //.popup_wrap */-->
				</div>
				<!--/* //.inner */-->
			</div>
			<!--/* //.clelar */-->
		</div>
		<!--/* //#container */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* <![CDATA[ */

			$(function() {
				/*[- 사이즈 lables active 처리 -]*/
				var lables = $(".radio_size").not(".soldout");
				lables.children("span").on("click", function() {
					lables.removeClass("active");
					$(this).parent().addClass("active");
					$(this).siblings("input").prop("checked", true);

					/*[- 재고 수량 보여주기 -]*/
					var actualQuantity = $(this).prev().data("actual-quantity");
					$(".option_quantity > h2").text("수량 - [재고 : " + actualQuantity + "개]");

					/*[- 선택 수량 초기화 -]*/
					document.getElementById("quantity").value = 1;
				});

				/*[- 리뷰 불러오기 -]*/
				getReviews(1, 10, 5);
			});


			 /*[- /TODO => 바로 구매 처리하기 -]*/
			function validationOfForm(form) {
				
				if ( isEmpty(form.size.value) ) {
					alert("사이즈를 선택해 주세요.");
					return false;
				}
			}

			/**
			 * 상품 수량 증가
			 */
			function addQuantity(obj) {

				/*[- 사이즈 선택 여부 -]*/
				var isChecked = $(".radio_size").hasClass("active");
				if (isChecked == false) {
					alert("사이즈를 선택해 주세요.");
					return false;
				}

				/*[- 선택한 수량 -]*/
				var quantity = parseInt(obj.value);
				/*[- 선택한 사이즈의 재고 수량 -]*/
				var actualQuantity = parseInt($(".radio_size.active > input").data("actual-quantity"));
				/*[- 선택한 상품의 사이즈 -]*/
				var size = $(".radio_size.active > input").val();

				if (quantity >= actualQuantity) {
					alert(size + " 사이즈는 " + actualQuantity + "개까지 구매할 수 있습니다.");
					obj.value = actualQuantity;
					return false;
				}

				obj.value = quantity + 1;
			}

			/**
			 * 상품 수량 감소
			 */
			function reduceQuantity(obj) {

				/*[- 사이즈 선택 여부 -]*/
				var isChecked = $(".radio_size").hasClass("active");
				if (isChecked == false) {
					alert("사이즈를 선택해 주세요.");
					return false;
				}

				/*[- 선택한 수량 -]*/
				var quantity = parseInt(obj.value);
				if (quantity <= 1) {
					alert("수량은 최소 1개까지 설정할 수 있습니다.");
					return false;
				}

				obj.value = quantity - 1;
			}

			/**
			 * 수량 focusout
			 */
			function checkQuantity(obj) {

				/*[- 선택한 사이즈의 재고 수량 -]*/
				var actualQuantity = parseInt($(".radio_size.active > input").data("actual-quantity"));

				if (obj.value < 1 || obj.value >= actualQuantity) {
					alert("수량은 최소 1개에서 최대 " + actualQuantity + "개까지 선택할 수 있습니다.");
					obj.value = 1;
					return false;
				}
			}

			/**
			 * 장바구니 담기
			 */
			function addToCart(code) {

				if (/*[[ ${isAnonymousUser} ]]*/) {
					var message = "로그인이 필요한 서비스입니다. 로그인 페이지로 이동할까요?";
					if (confirm(message) == true) {
						location.href = /*[[ @{/login} ]]*/;
					}
					return false;
				}

				/*[- 상품 사이즈 -]*/
				var size = $(".radio_size.active").children("span").text();
				/*[- 상품 수량 -]*/
				var quantity = $("#quantity").val();

				if (isEmpty(size)) {
					alert("사이즈를 선택해 주세요.");
					return false;

				} else if (quantity < 1 || quantity > 3) {
					alert("수량은 최소 1개에서 최대 3개까지 선택할 수 있습니다.");
					quantity = 0;
					return false;
				}

				/*[- 서버로 전송할 데이터 -]*/
				var params = {
					"code" : code,
					"size" : size,
					"quantity" : quantity
				};

				$.ajax({
					url : /*[[ @{/cart} ]]*/,
					type : "post",
					headers : {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "post",
						"X-CSRF-TOKEN" : getToken(),
					},
					dataType : "json",
					data : JSON.stringify(params),
					async : false,
					success : function(response) {
						/*[- 로그인이 되지 않았거나, 이미 장바구니에 존재하는 상품의 경우 -]*/
						if (isEmpty(response.type) == false && response.result == false) {
							/*[- type (1 : 로그인이 되지 않은 상태 | 2 : 이미 장바구니에 상품이 존재하는 상태) -]*/
							var redirectUri = response.type == 1 ? [[ @{/login} ]] : [[ @{/cart} ]];
							if (confirm(response.message) == false) {
								return false;
							}
							location.href = redirectUri;

						/*[- 장바구니 추가 실패 -]*/
						} else if (isEmpty(response.type) && response.result == false) {
							alert(response.message);

						/*[- 장바구니 추가 성공 -]*/
						} else {
							if (confirm(response.message) == false) {
								return false;
							}
							location.href = /*[[ @{/cart} ]]*/;
						}
					},
					error : function(request, status, error) {
						alert("오류가 발생하였습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});

				return false;
			}


			/**
			 * 바로 구매
			 */
			function goPurchase(code) {

				var size = $(".radio_size.active").children("input"); /*[- active가 적용된 label 요소의 자식 input -]*/
				var quantity = document.getElementById("quantity"); /*[- 수량 -]*/
				var actualQuantity = size.data("actual-quantity"); /*[- 실제 수량 -]*/

				if ( isEmpty(size.val()) ) {
					alert("사이즈를 선택해 주세요.");
					return false;

				} else if (quantity.value > actualQuantity) {
					alert("선택하신 사이즈는 " + actualQuantity + "개의 재고가 존재합니다.");
					return false;
				}

				var params = "?codes=" + code + "&size=" + size.val() + "&quantity=" + document.getElementById("quantity").value;
				location.href = [[ @{/goods/checkout} ]] + params;
			}


			/**
			 * 리뷰 불러오기
			 */
			function getReviews(pageNo, recordCountPerPage, pageSize) {

				var params = new Object();
				params["code"] = /*[[ ${goods.code} ]]*/;
				params["currentPageNo"] = pageNo;
				params["recordCountPerPage"] = recordCountPerPage;
				params["pageSize"] = pageSize;

				$.ajax({
					url : /*[[ @{/reviews} ]]*/,
					type : "get",
					headers: {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "get"
					},
					dataType : "json",
					data : params,
					async : false,
					success : function(response) {
						var html = "";

						/*[- 리뷰가 존재하지 않으면 -]*/
						if (isEmpty(response) == true) {
			 				html += '<p class="fl_wrap">';
				 				html += '<strong class="orange fl_left">0</strong>개의 리뷰가 있습니다.';
				 				/*[- 로그인한 회원에게만 리뷰 쓰기 버튼이 보이도록 처리 -]*/
				 				if (/*[[ ${isAnonymousUser} == false ]]*/) {
					 				html += '<a href="javascript:void(0)" class="btn btn_black fl_right" onclick="popOpen(\'#reviewPop\');">리뷰 쓰기</a>';
				 				}
							html += '</p>';

						} else {
			 				html += '<p class="fl_wrap">';
				 				html += '<strong class="orange fl_left">'+ makeCommas(response.params.totalRecordCount) +'</strong>개의 리뷰가 있습니다.';
				 				/*[- 로그인한 회원에게만 리뷰 쓰기 버튼이 보이도록 처리 -]*/
				 				if (response.isAnonymousUser == false) {
					 				html += '<a href="javascript:void(0)" class="btn btn_black fl_right" onclick="popOpen(\'#reviewPop\');">리뷰 쓰기</a>';
				 				}
							html += '</p>';
				 			html += '<ul class="clear">';
	
							response.reviews.forEach(function(obj, idx) {
								var date = obj.insertTime.date;
					 				html += '<li>';
					 					html += '<p class="re_title">';
						 					html += '<span class="re_name">'+ obj.nickname +'</span>';
						 					html += '<span class="re_date">'+ date.year + "." + date.month + "." + date.day +'</span>';
						 					html += '<span class="re_star icon ic_star ic_star'+ obj.grade +'"></span>';
					 					html += '</p>';
					 					html += '<div class="re_cont">';
					 						html += '<p>'+ obj.content +'</p>';
					 					html += '</div>';
					 				html += '</li>';
							});
							/*[- end of forEach -]*/
	
				 			html += '</ul>';
	
				 			/*[- 페이징 -]*/
				 			if (isEmpty(response.params) == false) {
				 				var paginationInfo = response.params.paginationInfo; /*[- 계산된 페이징 정보 -]*/
	
					 			html += '<div class="paging">';
					 				if (paginationInfo.previousPage == true) {
					 					html += '<a href="javascript: void(0)" class="btn_arrow btn_first" onclick="getReviews('+ 1 +', '+ response.params.recordCountPerPage +', '+ response.params.pageSize +')">처음</a>';
										html += '<a href="javascript: void(0)" class="btn_arrow btn_previous" onclick="getReviews('+ (parseInt(paginationInfo.firstPage) - 1) +', '+ response.params.recordCountPerPage +', '+ response.params.pageSize +')">이전</a>';
					 				}
					 				for (var i = paginationInfo.firstPage; i <= paginationInfo.lastPage; i++) {
					 					/*[- 현재 페이지와 페이지 번호가 동일한 경우 active 처리 -]*/
					 					if (i == response.params.currentPageNo) {
					 						html += '<a href="javascript: void(0)" class="active" onclick="getReviews('+ i +', '+ response.params.recordCountPerPage +', '+ response.params.pageSize +')">'+ i +'</a>';
					 					} else {
											html += '<a href="javascript: void(0)" onclick="getReviews('+ i +', '+ response.params.recordCountPerPage +', '+ response.params.pageSize +')">'+ i +'</a>';
					 					}
					 				}
									if (paginationInfo.nextPage == true) {
										html += '<a href="javascript: void(0)" class="btn_arrow btn_next" onclick="getReviews('+ (parseInt(paginationInfo.lastPage) + 1) +', '+ response.params.recordCountPerPage +', '+ response.params.pageSize +')">다음</a>';
										html += '<a href="javascript: void(0)" class="btn_arrow btn_last" onclick="getReviews('+ paginationInfo.totalPageCount +', '+ response.params.recordCountPerPage +', '+ response.params.pageSize +')">마지막</a>';
					 				}
								html += '</div>';
				 			}
				 			/*[- ajax 새로고침 문제를 해결하기 위한 pushState -]*/
				 			if (isPushStateAvailable() == true) {
				 				/*[- 오브젝트를 쿼리 스트링 형태로 replace => new URLSearchParams(params).toString()과 같은 방법도 사용할 수 있음 -]*/
								var queryString = Object.keys(params).map(key => key + '=' + params[key]).join('&');
								history.pushState(null, null, "/goods/details?" + queryString); /*[- state, title, uri -]*/
							}
						}
						/*[- end of else -]*/

			 			$("#pdReview").html(html); /*[- html 함수를 사용할 때, 상위 요소를 셀렉터로 사용하기 -]*/
					},
					error : function(request, status, error) {
						alert("오류가 발생하였습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}

			/**
			 * 리뷰 별점 선택
			 */
			function selectScore(obj, seq) {

				var star = $(obj);
				star.prevAll().addClass("active"); /*[- 선택한 별 이전의 모든 별에 active 추가 -]*/
				star.addClass("active"); /*[- 선택한 별에 active 추가 -]*/

				/*[- 선택한 별보다 점수가 높은 경우 -]*/
				if (star.nextAll().hasClass("active") == true) {
					star.nextAll().removeClass("active");
				}

				/*[- 별점 hidden value 처리 -]*/
				var form = document.getElementById("reviewForm");
				form.grade.value = seq;
			}

			/**
			 * 리뷰 등록
			 */
			function registerReview(form) {

				if (form.grade.value < 1) {
					alert("별점을 선택해 주세요.");
					return false;
				}

				var result = (
					   isValid(form.code, "상품 코드", null, null)
					&& isValid(form.nickname, "닉네임", null, null)
					&& isValid(form.content, "내용", null, null)
				);

				if (result == false) {
					return false;
				}

				/*[- ajax 요청에 필요한 key, value 형태의 오브젝트 생성 -]*/
				var params = makeAjaxRequestData(form);

				$.ajax({
					url : /*[[ @{/reviews} ]]*/,
					type : form.method,
					headers : {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : form.method,
						"X-CSRF-TOKEN" : getToken()
					},
					dataType : "json",
					data : JSON.stringify(params),
					async : false,
					success : function(response) {
						if (isEmpty(response.message) == false) {
							alert(response.message);
							popClose(".btn_close");
							return false;
						}
						alert("리뷰가 등록되었습니다.");
						popClose(".btn_close"); /*[- 리뷰 등록 팝업 닫기 -]*/
						getReviews(1, 10, 5); /*[- 리뷰 불러오기 -]*/
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}
			/*[- end of function -]*/


			/**
			 * 좋아요
			 */
			function favorite(obj) {

				if (/*[[ ${isAnonymousUser} ]]*/) {
					var message = "로그인이 필요한 서비스입니다. 로그인 페이지로 이동할까요?";
					if (confirm(message) == true) {
						location.href = /*[[ @{/login} ]]*/;
					}
					return false;
				}

				$.ajax({
					url : /*[[ @{/favorite} ]]*/,
					type : "post",
					headers : {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "post",
						"X-CSRF-TOKEN" : getToken()
					},
					dataType : "json",
					data : JSON.stringify({ "code" : /*[[ ${goods.code} ]]*/ }),
					async : false,
					success : function(response) {
						if (isEmpty(response.message) == false) {
							alert(response.message);
							return false;
						}
						addActive(obj);
						$(obj).text("💗 " + response.totalCount);
						$(obj).attr("onclick", "changeFavoriteStatus(this)");

					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}
			/*[- end of function -]*/


			/**
			 * 좋아요 상태 변경
			 */
			function changeFavoriteStatus(obj) {

				$.ajax({
					url : /*[[ @{/favorite/} + ${goods.code} ]]*/,
					type : "patch",
					headers : {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "patch",
						"X-CSRF-TOKEN" : getToken()
					},
					dataType : "json",
					async : false,
					success : function(response) {
						if (isEmpty(response.message) == false) {
							alert(response.message);
							return false;
						}
						addActive(obj);
						$(obj).text("💗 " + response.totalCount);
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}
			/*[- end of function -]*/


			/* ]]> */
	</script>
	</th:block>

</html>