<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="add-resource">
		<!--/* slick */-->
		<link rel="stylesheet" type="text/css" th:href="@{/jquery/slick/slick.css}"/>
		<script type="text/javascript" th:src="@{/jquery/slick/slick.min.js}"></script>
	</th:block>

	<th:block layout:fragment="content">
		<div id="container">
			<div class="clear">
				<div class="inner view fl_wrap">
					<!-- slide -->
					<div class="slide_wrap">
						<div class="slide">
							<!--/* 오브젝트 다음에 status(변수)를 지정할 수 있고, 지정하지 않은 경우 imageStat.index, size, count, even, odd, first, last와 같이 사용할 수 있음 */-->
							<div class="" th:if="${not #arrays.isEmpty(images)}" th:each="image, status : ${images}">
								<div class="img_wrap">
									<span class="img_box">
										<img th:src="@{/goods/images/} + ${#calendars.format( image.insertTime, 'yy-MM-dd' )} + '/' + ${image.storedName}" th:alt="shoes + ${status.index}" />
									</span>
								</div>
							</div>
						</div>
						<div class="slide_pager">
							<div class="" th:if="${not #arrays.isEmpty(images)}" th:each="image, status : ${images}">
								<img th:src="@{/goods/images/} + ${#calendars.format( image.insertTime, 'yy-MM-dd' )} + '/' + ${image.storedName}" th:alt="shoes + ${status.index}" />
							</div>
						</div>
						<script>
							$(document).ready(function () {
								$('.slide').slick({
									autoplay: true,
									autoplaySpeed: 1500,
									slidesToShow: 1,
									slidesToScroll: 1,
									arrows: false,
									fade: true,
									asNavFor: '.slide_pager'
								});
								$('.slide_pager').slick({
									slidesToShow: 6,
									slidesToScroll: 1,
									asNavFor: '.slide',
									dots: false,
									arrows: false,
									focusOnSelect: true
								});
							});
						</script>
					</div>
					<!-- //slide -->

					<!-- 상세정보 -->
					<div class="pd_info_wrap">
						<form th:action="@{/goods/purchase}" th:object="${goods}" method="post" onsubmit="return validationOfForm(this)">
							<!-- 상세 이름, 가격, 별점 -->
							<div class="pd_title_wrap">
								<h1 th:text="${goods.name}" class="pd_title">상품명</h1>
								<p th:text="${#numbers.formatInteger( goods.price, 3, 'COMMA' )}" class="pd_price">75,000 원</p>
								<div class="pd_review">
									<span class="ic_star ic_star3"></span>
								</div> 
							</div>
							<!-- //상세 이름, 가격 -->
			
							<!-- 상세 옵션 -->
							<div class="pd_option_wrap">
								<div class="pd_option option_color">
									<h2 class="tit">
										색상
										<span th:text="${goods.stock.color}"></span>
									</h2>
									<!-- <div class="cont">
										<label for="black" class="radio_color">
											<input type="radio" name="color" id="black" checked />
											<span class="blind"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
										</label>
										<label for="navy" class="radio_color">
											<input type="radio" name="color" id="navy" />
											<span class="blind"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
										</label>
										<label for="blue" class="radio_color">
											<input type="radio" name="color" id="blue" />
											<span class="blind"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
										</label>
									</div> -->
								</div>
			
								<div class="pd_option option_size">
									<h2 class="tit">사이즈</h2>
									<div class="cont">
										<label class="radio_size" th:if="${not #arrays.isEmpty( options )}" th:each="size : ${options.keySet()}" th:for="size + ${size}" th:classappend="${#strings.equals( options.get(size), '0' )} ? 'soldout'">
											<input type="radio" name="size" id="size" th:value="${options.get(size)}" th:disabled="${#strings.equals( options.get(size), '0' )}" />
											<span class="" th:text="${size}">사이즈</span>
										</label>
									</div>
								</div>
			
								<div class="pd_option option_quantity">
									<h2 class="tit">수량</h2>
									<div class="cont">
										<input type="text" id="quantity" name="quantity" value="1" />
										<button type="button" class="btn_plus" onclick="addQuantity(document.getElementById('quantity'))">+</button>
										<button type="button" class="btn_minus" onclick="reduceQuantity(document.getElementById('quantity'))">-</button>
									</div>
								</div>
							</div>
							<!-- //상세 옵션 -->
			
							<div class="btn_wrap">
								<a href="#" class="btn btn_black">장바구니 담기</a>
								<button type="submit" class="btn btn_orange">바로구매</button>
							</div>
						</form>
					</div>
					<!-- //상세정보 -->
		
					
					<!-- 상세설명 -->
					<div class="pd_detail_wrap clear tab_wrap">
						<div class="pd_detail_tab text_center">
							<a href="javascript:void(0)" onclick="tabFunc(this, '#pdDetail');" class="active">상품설명</a>
							<a href="javascript:void(0)" onclick="tabFunc(this, '#pdDelivery');">배송/반품 안내</a>
							<a href="javascript:void(0)" onclick="tabFunc(this, '#pdReview');">상품리뷰(7)</a>
						</div>
						<div id="pdDetail" class="pd_detail text_center tab_cont" style="display: block;">
							<img th:src="@{/images/common/detail.jpg}" alt="" />
						</div>
		
						<div id="pdDelivery" class="pd_delivery tab_cont">
							<dl>
								<dt>배송사</dt>
								<dd>우체국택배 (상품 준비 기간이 소요 될 수 있습니다.)</dd>
								<dt>배송 안내</dt>
								<dd>- 3만원 이상은 무료배송입니다.</dd>
								<dd>- 3만원 미만 구매시 2,500원이 부과 됩니다. 도서산간지역은 추가비용과 배송기간이 발생할 수 있습니다.</dd>
								<dd>- 주문한 상품은 영업일 3일(공휴일/주말 제외) 이내에 받아보실 수 있습니다. 상품준비에 에러사항이 있거나, 발송지연이 불가피할 경우 고객님께 안내 연락을 드립니다.</dd>
								<dt>반송시 택배회사</dt>
								<dd>우체국택배 (지정된 택배 이외의 타 택배사 이용시 추가되는 비용은 고객님께서 부담하셔야 합니다.)</dd>
								<dd>[ 반송지 주소 인천광역시 부평구 산곡동 ]</dd>
								<dt>반품 정보</dt>
								<dd>- 상품이 이미 출고 되었을 때 수취 거부가 불가합니다.</dd>
								<dd>- 반품은 상품 수령일로부터 7일 이내에 반품접수를 하셔야 하며, 접수 후 (업무일) 3일이내에 본사 반송지에 도착하여야 합니다.</dd>
								<dd>- 반품시, 도영 온라인몰에서 꼭 반품접수를 하신 후 진행하셔야 합니다.</dd>
								<dd>- AS 문의는 고객센터에 문의를 하여야 합니다.</dd>
								<dd>- 상품포장이 훼손되거나 상품가치가 상실된 경우 반품이 불가합니다.</dd>
								<dt>반품 배송비</dt>
								<dd>- 고객단순변심 시, 배송비는 고객 부담입니다.</dd>
								<dd>- 상품불량 및 오배송 시, 배송비는 판매자 부담입니다.</dd>
								<dd>- 주문시 무료배송으로 수령하신 경우, 고객단순 변심시 최초 배송비가 포함 부과됩니다.</dd>
								<dd>- 개별 반송 시, 추가적으로 발생하는 비용은 고객 부담입니다.</dd>
								<dt>반품불가 경우</dt>
								<dd>- 반품요청 기간(7일)이 지난 경우</dd>
								<dd>- 포장을 개봉하였거나 포장이 훼손되어(상품의 Tag분리/분실, 비닐포장 훼손, 신발박스 훼손 등) 상품가치가 현저히 감소한 경우</dd>
								<dd>- 악세서리 고유의 포장을 개봉 하였으나 단순 변심으로 교환, 반품 원하는 경우</dd>
								<dd>- 구매자의 책임있는 사유로 상품 등이 멸실 또는 훼손된 경우</dd>
								<dd>- 구매자의 사용 또는 일부 소비에 의하여 상품가치가 현저히 감소한 경우</dd>
								<dd>- 기간의 경과에 의하여 재판매가 곤란할 정도로 상품가치가 현저히 감소한 경우</dd>
								<dd>- 주문확인 후 상품제작에 들어가는 주문제작 상품인 경우</dd>
								<dd>- 복제가 가능한 상품 등의 포장을 훼손한 경우</dd>
								<dd>- 단, 재화 등의 내용이 표시 (이미지 또는 기능을 포함) 및 광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급 받은 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약 철회 등을 할 수 있습니다.</dd>
							</dl>
						</div>
		
						<div id="pdReview" class="pd_review tab_cont">
							<p class="fl_wrap">
								<strong class="orange fl_left">7</strong>개의 리뷰가 있습니다.
								<a href="javascript:void(0)" class="btn btn_black fl_right" onclick="popOpen('#reviewPop');">리뷰쓰기</a>
							</p>
							<ul class=" clear">
								<li>
									<p class="re_title">
										<span class="re_name">홍**</span>
										<span class="re_date">2019.08.01</span>
										<span class="re_star icon ic_star ic_star2"></span>
									</p>
									<div class="re_cont">
										<p>이도영은 멍충이입니다. 바보 똥멍충이 입니다. <br/>아주아주 똥바보입니다.</p>
									</div>
								</li>
								<li>
									<p class="re_title">
										<span class="re_name">홍**</span>
										<span class="re_date">2019.08.01</span>
										<span class="re_star icon ic_star ic_star2"></span>
									</p>
									<div class="re_cont">
										<p>이도영은 멍충이입니다. 바보 똥멍충이 입니다. <br/>아주아주 똥바보입니다.</p>
									</div>
								</li>
								<li>
									<p class="re_title">
										<span class="re_name">홍**</span>
										<span class="re_date">2019.08.01</span>
										<span class="re_star icon ic_star ic_star2"></span>
									</p>
									<div class="re_cont">
										<p>이도영은 멍충이입니다. 바보 똥멍충이 입니다. <br/>아주아주 똥바보입니다.</p>
									</div>
								</li>
							</ul>

							<div class="paging">
								<a href="" class="btn_arrow btn_first">처음</a>
								<a href="" class="btn_arrow btn_previous">이전</a>
								<a href="" class="active">1</a>
								<a href="">2</a>
								<a href="">3</a>
								<a href="">4</a>
								<a href="">5</a>
								<a href="" class="btn_arrow btn_next">다음</a>
								<a href="" class="btn_arrow btn_last">마지막</a>
							</div>
						</div>
					</div>
					<!-- //상세설명 -->

					<!-- 리뷰 팝업 -->
					<div class="popup_wrap" id="reviewPop" style="display: block;">
						<div class="popup_inner">
							<div class="popup_header">
								<p>리뷰쓰기</p>
								<a href="#none" class="btn btn_close" onclick="popClose(this);">닫기</a>
							</div>
							<div class="popup_contents">
								<div class="review_info fl_wrap">
									<div class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></div>
									<div class="txt_box">
										<p>도영이 신발 도영이 신발</p>
										<strong>75,000 원</strong>
									</div>
								</div>
								<div class="review_star">
									<span class="icon ic_star_lg active"></span>
									<span class="icon ic_star_lg active"></span>
									<span class="icon ic_star_lg active"></span>
									<span class="icon ic_star_lg"></span>
									<span class="icon ic_star_lg"></span>
								</div>
								<div class="review_cont">
									<textarea name="" id="" placeholder="상품리뷰를 입력해주세요."></textarea>
									<div class="filebox">
										<!-- <input type="text" readonly="readonly" title="File Route" id="file_route"> -->
										<label class="btn btn_black">
											사진 추가
											<input type="file">
											<!-- <input type="file" onchange="javascript:document.getElementById('file_route').value=this.value"> -->
										</label>
									</div>
									<ul class="add_photo">
										<li>
											<img th:src="@{/images/common/thumb.jpg}" alt="" />
											<button type="button" class="btn_delete">삭제</button>
										</li>
										<li>
											<img th:src="@{/images/common/thumb.jpg}" alt="" />
											<button type="button" class="btn_delete">삭제</button>
										</li>
									</ul>
								</div>
								<div class="btn_wrap">
									<input type="submit" value="작성완료" class="btn btn_orange" />
								</div>
							</div>
						</div>
						<div class="popup_bg" onclick="popClose(this);"></div>
					</div>
					<!--/* //.popup_wrap */-->
				</div>
				<!--/* //.inner */-->
			</div>
			<!--/* //.clelar */-->
		</div>
		<!--/* //.container */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/* <![CDATA[ */

			/*[- 사이즈 lables -]*/
			$(function() {
				var lables = $(".radio_size").not(".soldout");

				lables.children("span").on("click", function() {
					lables.removeClass("active");
					$(this).parent().addClass("active");
					$(this).siblings("input").prop("checked", true);
				});
			});
			
			function validationOfForm(form) {
				
				if ( isEmpty(form.size.value) ) {
					alert("사이즈를 선택해 주세요.");
					return false;
				}
				console.log(form.size.value);
				return false;
			}

			function addQuantity(obj) {
				var quantity = parseInt(obj.value);
				obj.value = quantity + 1;
			}

			function reduceQuantity(obj) {
				
				var quantity = parseInt(obj.value);
				if (quantity <= 1) {
					alert("수량은 최소 1개까지 설정할 수 있습니다.");
					return false;
				}

				obj.value = quantity - 1;
			}
			
// 				$(function() {
// 					var uri = /*[[ @{/goods/} + ${goods.code} ]]*/;

// 					$.ajax({
// 						url : uri,
// 						type : "get",
// 						headers: {
// 							"Content-Type" : "application/json",
// 							"X-HTTP-Method-Override" : "get"
// 						 },
// 						dataType : "json",
// 						async : false,
// 						success : function(response) {
// 							var options = JSON.parse(response.goods.stock.options);
// 							var colors = Object.keys(options);
// 							var test = options[colors];
// 							$(colors).each(function(idx, color) {
// 								$(".option_color > h2").append("<span>"+color+"</span>");
// 							});
// 						},
// 						error : function(request, status, error) {
// 							alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
// 						}
// 					});
		
// 					return false;
// 				});

			/* ]]> */
		</script>
	</th:block>

</html>