<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<!-- Sns -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="사이트명">
<meta property="og:image" content="이미지 url"> <!-- 비율은 2:1 -->
<meta property="og:title" content="제목">
<meta property="og:description" content="설명">
<meta property="og:url" content="페이지 url">

<title>do-yonug's mall</title>

<!-- Favicon -->
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />

<!-- Css -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script>window.jQuery || document.write('<link rel="stylesheet" href="../lib/css/jquery-ui.min.css">')</script>

<link rel="stylesheet" type="text/css" href="../lib/css/style.css"/>
<link rel="stylesheet" type="text/css" href="../lib/css/media.css"/>

<!-- IE9이하버전 css적용 -->
<!--[if IE]>
<style>
	select {padding: 0 0 0 5px;}
</style>
<![endif]-->

<!-- Js -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../lib/js/jquery-1.12.0.min.js"><\/script>')</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="../lib/js/jquery-ui.min.js"><\/script>')</script>

<script type="text/javascript" src="../lib/js/ui.js"></script>

</head>
<body>
<div id="wrapper">


<!-- shortcut -->
<div class="shortcut">
	<ul>
		<li><a href="#container">본문 바로가기</a></li>
		<li><a href="#menu">메뉴 바로가기</a></li>
	</ul>
</div>
<!-- //shortcut -->


<!-- header -->
<header>
	<div class="header_wrap">
		<div class="util">
			<ul class="inner">
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
			</ul>
		</div>
		<div class="gnb">
			<div class="inner">
				<a href="#" class="logo">LOGO<img src="" alt="" /></a>
				<nav>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- //header -->


<!-- container -->
<div id="container">
	<div class="favorite main_goods sub_goods clear">
		<div class="inner">
			<div class="title">
				전체 상품
				<div class="search_wrap">
					<div class="sort">
						<select>
							<option>인기상품순</option>
							<option>최신상품순</option>
							<option>낮은가격순</option>
							<option>높은가격순</option>
							<option>평점순</option>
						</select>
					</div>
					<div class="search">
						<form>
							<input type="search" placeholder="상품을 검색해 보세요." />
							<button type="submit">검색하기</button>
						</form>
					</div>
				</div>
			</div>
			<ul>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
			</ul>

			<div class="paging">
				<a href="" class="btn_first">처음</a>
				<a href="" class="btn_previous">이전</a>
				<a href="">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="" class="btn_next">다음</a>
				<a href="" class="btn_last">마지막</a>
			</div>
		</div>
	</div>
</div>
<!-- //container -->


<!-- footer -->
<footer>
	<div class="footer_wrap">
		<div class="footer_menu">
			<!-- 항상 큰 거 안에 inner를 지정하기 (송이 선배의 말씀) -->
			<ul class="inner">			   
				<li><a href="">개인정보처리방침</a></li>
				<li><a href="">이용약관</a></li>
				<li><a href="">문의하기</a></li>
			</ul>
		</div>
		<div class="copyright clear">
			<div class="inner">
				<p>
					<span>주소 : 인천광역시 부평구 산곡2동</span>
					<span>연락처 : 010-3328-0000</span>
					<span>팩스 : 032-517-0000</span>
				</p>
				<p> Copyright 2019 do-yonug's mall All Rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->


</div>
</body>
</html>