<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="content">
		<div id="container">
			<div class="favorite main_goods sub_goods clear">
				<div class="inner">
					<div class="title">
						전체 상품
						<div class="search_wrap">
							<div class="sort">
								<select>
									<option>인기상품순</option>
									<option>최신상품순</option>
									<option>낮은가격순</option>
									<option>높은가격순</option>
									<option>평점순</option>
								</select>
							</div>
							<div class="search">
								<form>
									<input type="search" placeholder="상품을 검색해 보세요." />
									<button type="submit" class="btn_search">검색하기</button>
								</form>
							</div>
						</div>
					</div>

					<ul th:if="${not #lists.isEmpty( goodsList )}"> 
						<li th:each="row : ${goodsList}">
							<a th:href="@{/goods/details( code=${row.code} )}" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a th:href="@{/goods/details( code=${row.code} )}" class="txt_wrap">
								<span th:text="${row.name}" class="name">상품명</span>
								<span th:text="${#numbers.formatInteger( row.price, 3, 'COMMA' )}" class="price">가격</span>
							</a>
						</li>
					</ul>

					<div class="paging">
						<a href="" class="btn_arrow btn_first">처음</a>
						<a href="" class="btn_arrow btn_previous">이전</a>
						<a href="" class="active">1</a>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">5</a>
						<a href="" class="btn_arrow btn_next">다음</a>
						<a href="" class="btn_arrow btn_last">마지막</a>
					</div>
				</div>
			</div>
		</div>
		<!--/* //.container */-->
	</th:block>

</html>