<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<style type="text/css">
		.drop {
			width: 80%; height: 100px;
			border: 1px dotted gray;
			background-color: lightblue;
			margin: 0 auto;
			margin-top: 50px;
		}
	</style>
	<head th:fragment="basic">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!--/* Sns */-->
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="사이트명">
		<meta property="og:image" content="이미지 url">
		<!--/* 비율은 2:1 */-->
		<meta property="og:title" content="제목">
		<meta property="og:description" content="설명">
		<meta property="og:url" content="페이지 url">

		<!--/* spring security csrf */-->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
		<!--/* <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" /> */-->

		<title>do-yonug's mall</title>

		<!--/* Favicon */-->
		<!--/* <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> */-->
		<!--/* <link rel="icon" href="/images/favicon.ico" type="image/x-icon" /> */-->

		<!--/* Css */-->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script>window.jQuery || document.write('<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">')</script>

		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/media.css}" />

		<!--/* IE9이하버전 css적용 */-->
		<!--/* [if IE]>
		<style>
			select {padding: 0 0 0 5px;}
		</style>
		<! [endif] */-->

		<!--/* Js */-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script th:src="@{/js/jquery-1.12.0.min.js}"><\/script>')</script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script>window.jQuery || document.write('<script th:src="@{/js/jquery-ui.min.js}"><\/script>')</script>

		<script type="text/javascript" th:src="@{/js/ui.js}"></script>
		<script type="text/javascript" th:src="@{/js/common.js}"></script>

		<!--/* fragment 속성은 공통 레이아웃에서 선언하여, 실제 Content 페이지의 내용을 채우게 됨 */-->
		<th:block layout:fragment="add-resource"></th:block>
	</head>
<body>
<div id="wrapper">


<!-- shortcut -->
<div class="shortcut">
	<ul>
		<li><a href="#container">본문 바로가기</a></li>
		<li><a href="#menu">메뉴 바로가기</a></li>
	</ul>
</div>
<!-- //shortcut -->


<!-- header -->
<header>
	<div class="header_wrap">
		<div class="util">
			<ul class="inner">
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
			</ul>
		</div>
		<div class="gnb">
			<div class="inner">
				<a href="#" class="logo">LOGO<img src="" alt="" /></a>
				<nav>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- //header -->

<div>
	<form name="form" th:action="@{/goods}" th:object="${goods}" method="post" onsubmit="return validationOfForm(this)" enctype="multipart/form-data">
		<table>
			<colgroup>
				<col width="190px" />
				<col width="auto" />
			</colgroup>
			<tbody>
				<tr>
					<th>이 름</th>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<th>설 명</th>
					<td><textarea th:field="*{description}"></textarea></td>
				</tr>
				<tr>
					<th>가 격</th>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<th>색 상</th>
					<td>
						<input type="text" th:field="*{stock.color}" maxlength="10" />
					</td>
				</tr>
				<!-- <tr>
					<th>사이즈 단위</th>
					<td>
						<select name="unit" onchange="createSizeInput(this)">
							<option value="5">5</option>
							<option value="10">10</option>
						</select>
					</td>
				</tr> -->
				<tr>
					<th>사 이 즈</th>
					<td>
						<ul id="optionsUl">
							<li th:each="seq : ${#numbers.sequence( 200, 250, 5 )}">
								<span th:text="${seq}" th:attr="data-size=${seq}"></span>
								<input type="text" name="quantity" value ="0" />
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>이미지</th>
					<td>
						<div class="drop">
							<!--/* drag & drop 이벤트 발생 시, 추가되는 이미지 */-->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="submit">전송</button>
		</div>
	</form>
</div>
<!-- //container -->


<!-- footer -->
<footer>
	<div class="footer_wrap">
		<div class="footer_menu">
			<!-- 항상 큰 거 안에 inner를 지정하기 (송이 선배의 말씀) -->
			<ul class="inner">			   
				<li><a href="">개인정보처리방침</a></li>
				<li><a href="">이용약관</a></li>
				<li><a href="">문의하기</a></li>
			</ul>
		</div>
		<div class="copyright clear">
			<div class="inner">
				<p>
					<span>주소 : 인천광역시 부평구 산곡2동</span>
					<span>연락처 : 010-3328-0000</span>
					<span>팩스 : 032-517-0000</span>
				</p>
				<p> Copyright 2019 do-yonug's mall All Rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->


</div>
	<script th:inline="javascript">
		/* <![CDATA[ */

		/*[- spring security csrf token -]*/
		var token = $("meta[name='_csrf']").attr("content");
		
		/*[- 마우스 이벤트를 무시 -]*/
		$(".drop").on("dragenter dragover", function(e) {
			e.preventDefault();
		});

		/*[- 이미지를 처리하는 오브젝트 -]*/
		var imgData = new FormData();
		var cnt = 0;
		$(".drop").on("drop", function(e) {
			e.preventDefault();
		
			/*[- 이벤트와 같이 전달받은 파일 데이터 조회 -]*/
			var files = e.originalEvent.dataTransfer.files;
			var file = files[0];

			imgData.append("files", file);
// 			console.log(cnt++);
			return false;
		});

		function validationOfForm(form) {

			var options = new Object();
			$("#optionsUl > li").each(function(idx, obj) {
				var size = $(obj).children("span").text();
				var quantity = $(obj).children("input").val();
				options[String(size)] = parseInt(quantity);
			});

			var formData = new FormData(form);
			formData.append("stock.options", JSON.stringify(options));

			var images = imgData.getAll("files");
			if (isEmpty(images) == false) {
				console.log(images);
				$(images).each(function(idx, image) {
					formData.append("files", image);
				});
			}

			$.ajax({
				url : form.action,
				type : "post",
				headers : {
					"X-HTTP-Method-Override" : "post",
					"X-CSRF-TOKEN" : token,
				},
				dataType : "json",
				data : formData,
// 				enctype: "multipart/form-data",
				contentType : false,
				processData : false, // 데이터를 일반적인 Query String으로 변환할 것인지를 결정하는 속성으로 기본값으로 true를 가짐
				async : false, // Ajax 아이콘 처리를 하려면 주석 처리하기
				success : function(response) {
					console.log(response);
					alert(response.message);
// 					if (isEmpty(response.code) == false && response.result == true) {
// 						uploadOfGoodsImage(response.code);
// 					}
				},
				error : function(request, status, error) {
					console.log(request);
				}
			});

			return false;
		}
		
		function isEmpty(value) {
			if (value == null || value == "" || value == undefined || (value != null && typeof value == "object" && !Object.keys(value).length)) {
				return true;
			}

			return false;
		}
		
		$.fn.serializeObject = function() {

			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
		/* ]]> */
	</script>
</body>
</html>