<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="content">
		<div id="container">
			<div class="inner cart_wrap fl_wrap">
				<div class="page_title text_center clear">장바구니</div>

				<div class="cart">
					<div class="table table_head">
						<div class="table_row">
							<div class="col1">
								<label class="check_style">
									<input type="checkbox" id="checkAllGoods" onclick="checkAllGoods(this)" />
									<span></span>
								</label>
							</div>
							<div class="col2">상품명</div>
							<div class="col3">금액</div>
							<div class="col4">선택</div>
						</div>
					</div>

					<!--/* 장바구니 리스트 */-->
					<ul class="table table_body" th:if="${not #lists.isEmpty( goodsList )}">
						<li class="table_row" th:each="row, status : ${goodsList}">
							<div class="col1">
								<label class="check_style">
									<input type="checkbox" name="code" th:value="${row.code}" onclick="checkOneGoods(this)" />
									<span></span>
								</label>
							</div>
							<div class="col2">
								<div class="img_box">
									<img th:src="@{/goods/images/} + ${#temporals.format(row.goods.attachList[0].insertTime, 'yy-MM-dd')} + '/' + ${row.goods.attachList[0].storedName}" th:alt="shoes + ${status.index}" />
								</div>
								<div class="txt_box">
									<p class="name" th:text="${row.goods.name}">상품명</p>
									<p class="option" th:text="|${row.goods.stock.color} / ${row.size}|">색상 / 사이즈</p>
									<p class="quantity" th:text="|수량  : ${row.quantity}|">수량 : 개수</p>
									<a href="javascript: void(0)" class="btn btn_border_black" th:onclick="changeOption([[ ${row.code} ]], [[ ${row.size} ]], [[ ${row.quantity} ]], [[ |${#numbers.formatInteger( row.goods.price * row.quantity, 3, 'COMMA' )}원| ]])">옵션 변경</a>
								</div>
							</div>
							<div class="col3">
								<span class="orange" th:text="|${#numbers.formatInteger( row.goods.price * row.quantity, 3, 'COMMA' )}원|">가격</span>
							</div>
							<div class="col4">
								<button type="button" class="btn btn_black" th:onclick="goPurchase([[ ${row.code} ]], [[ ${row.size} ]], [[ ${row.quantity} ]])">주문하기</button>
								<button type="button" class="btn btn_gray" th:onclick="deleteGoods([[ ${row.code} ]], [[ ${row.goods.name} ]])">삭제하기</button>
							</div>
						</li>
					</ul>

					<div class="sm_btn_wrap">
						<button type="button" class="btn btn_gray" onclick="deleteAllGoods()">전체상품 삭제</button>
						<button type="button" class="btn btn_gray" onclick="deleteCheckedGoods()">선택상품 삭제</button>
					</div>
				</div>

				<div class="total_price">
					<div class="price">
						<p>
							<span>상품 금액</span>
							<strong th:text="|${#numbers.formatInteger( totalAmount, 3, 'COMMA' )}원|"></strong>
						</p>
						<p>
							<span>배송비</span>
							<strong th:text="${totalAmount < 50000 ? '2,500원' : '무료'}"></strong>
						</p>
						<p class="last">
							<span>총 결제금액</span>
							<!-- 전체 상품 금액이 50,000원 미만의 경우에는 배송비 2500원이 추가되고, 50,000원 이상의 경우에는 무료 배송 -->
							<strong class="orange" th:text="|${totalAmount < 50000 ? #numbers.formatInteger( totalAmount + 2500, 3, 'COMMA' ) : #numbers.formatInteger( totalAmount, 3, 'COMMA' )}원|"></strong>
						</p>
					</div>

					<div class="btn_wrap text_center clear">
						<button type="button" class="btn btn_orange" th:onclick="goMultiplePurchase([[ ${goodsList} ]])">주문하기</button>
						<a th:href="@{/goods/list}" class="btn btn_gray">쇼핑 계속하기</a>
					</div>
				</div>
			</div>

			<!--/* 옵션 변경 팝업 */-->
			<div id="optionPop" class="popup_wrap"></div>
		</div>
		<!--/* //#container */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* <![CDATA[ */

			/**
			 * 장바구니 상품 옵션 변경 팝업 불러오기
			 */
			function changeOption(code, selectedSize, quantity, amount) {

				$.ajax({
					url : /*[[ @{/cart/option-popup} ]]*/,
					type : "get",
					dataType : "html",
					data : { "code" : code },
					async : false,
					success : function(response) {
						/*[- option popup html 추가 -]*/
						$("#optionPop").html(response);
						/*[- 변경할 상품 금액 -]*/
						$(".pd_price").text(amount);
						/*[- 사이즈 lables -]*/
						var lables = $(".radio_size").not(".soldout");
						/*[- 사이즈 spans -]*/
						var spans = lables.children("span");
						/*[- 장바구니에 추가한 상품의 사이즈와 재고가 존재하는 사이즈가 동일하면 active -]*/
						spans.each(function(idx, obj) {
							if ($(obj).text() == selectedSize) {
								$(obj).parent().addClass("active");
								$(obj).siblings("input").prop("checked", true);
							}
						});

						/*[- 장바구니에 추가한 상품의 수량과 옵션 팝업의 수량을 동일한 값으로 변경 -]*/
						$("#quantity").val(quantity);
						/*[- 팝업 열기 -]*/
						popOpen("#optionPop");
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/
			}
			/*[- end of function -]*/


			/**
			 * 주문하기
			 */
			function goPurchase(code, size, quantity) {
				location.href = [[ @{/goods/checkout} ]] + "?codes=" + code;
			}


			function goMultiplePurchase(goodsList) {

				var codes = "";
				goodsList.forEach(function(obj, idx) {
					codes += obj.code + ",";
				});

				location.href = [[ @{/goods/checkout} ]] + "?codes=" + encodeURI(codes.slice(0, -1));
			}

// 			function goMultiplePurchase(goodsList) {

// 				var params = { "cartList" : [] };

// 				goodsList.forEach(function(obj, idx) {
// 					var goods = {
// 						"code" : obj.code,
// 						"size" : obj.size,
// 						"quantity" : obj.quantity
// 					};
// 					params["cartList"].push(goods);
// 				});

// 				var queryString = "";

// 				params["cartList"].forEach(function(obj, idx) {
// 					queryString += (idx < 1) ? "code["+ idx +"]=" + obj.code : "&code["+ idx +"]=" + obj.code;
// 					queryString += "&size["+ idx +"]=" + obj.size;
// 					queryString += "&quantity["+ idx +"]=" + obj.quantity;
// 				});
// 				console.log(queryString);

// // 				var queryString = Object.keys(params).map(key => key + '=' + params[key]).join('&');
// // 				var queryString = Object.keys(params).map((key) => {
// // 				    return encodeURIComponent(key) + '=' + encodeURIComponent(params[key])
// // 				}).join('&');

// 				location.href = [[ @{/goods/checkout} ]] + "?" + queryString;
// 			}


			/**
			 * 장바구니 상품 삭제
			 */
			function deleteGoods(codes, name) {

				if (isEmpty(name) == false) {
					if (confirm(name + " 상품을 장바구니에서 삭제하시겠어요?") == false) {
						return false;
					}
				}

				/*[- spring security csrf token -]*/
				var token = $("meta[name='_csrf']").attr("content");
				var uri = [[ @{/cart/} ]] + codes;

				$.ajax({
					url : uri,
					type : "delete",
					headers : {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "delete",
						"X-CSRF-TOKEN" : token,
					},
					dataType : "json",
					async : false,
					success : function(response) {
						if (isEmpty(response.message) == false) {
							alert(response.message);
							return false;
						}

						/*[- 장바구니 상품 목록 불러오기 -]*/
						getGoodsList();
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/
			}
			/*[- end of function -]*/

			/**
			 * 장바구니 상품 전체 삭제
			 */
			function deleteAllGoods() {

				/*[- 전체 상품 -]*/
				var allGoods = $("input[name='code']");
				if (allGoods.length < 1) {
					alert("장바구니가 비어있습니다.");
					return false;
				}

				if (confirm("장바구니에 담긴 모든 상품을 삭제하시겠어요?") == false) {
					return false;
				}

				/*[- 전체 상품의 상품 코드를 담을 변수 -]*/
				var codes = "";
				/*[- 전체 상품 개수만큼 foreach -]*/
				allGoods.each(function(idx, obj) {
					if (isEmpty(obj.value) == false) {
						codes += obj.value + ',';
					}
				});

				/*[- 마지막 콤마 제거 -]*/
				codes = codes.slice(0, -1);
				/*[- 장바구니 상품 삭제 Ajax 호출 -]*/
				deleteGoods(codes, null);
			}
			/*[- end of function -]*/

			/**
			 * 장바구니 상품 선택 삭제
			 */
			function deleteCheckedGoods() {

				/*[- 선택된 상품 -]*/
				var checkedGoods = $("input[name='code']:checked");
				if (checkedGoods.length < 1) {
					alert("삭제할 상품을 선택해 주세요.");
					return false;
				}

				if (confirm("선택된 상품들을 삭제하시겠어요?") == false) {
					return false;
				}

				/*[- 선택된 상품의 상품 코드를 담을 변수 -]*/
				var codes = "";
				/*[- 전체 상품 개수만큼 foreach -]*/
				checkedGoods.each(function(idx, obj) {
					if (isEmpty(obj.value) == false) {
						codes += obj.value + ',';
					}
				});

				/*[- 마지막 콤마 제거 -]*/
				codes = codes.slice(0, -1);
				/*[- 장바구니 상품 삭제 Ajax 호출 -]*/
				deleteGoods(codes, null);
			}
			/*[- end of function -]*/

			/**
			 * 장바구니 상품 목록 불러오기
			 */
			function getGoodsList() {

				$.ajax({
					url : /*[[ @{/cart/goods-list} ]]*/,
					type : "get",
					headers : {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "get",
					},
					dataType : "html",
					async : false,
					success : function(response) {
						$(".cart_wrap").html(response);
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/
			}
			/*[- end of function -]*/

			/**
			 * 상품 전체 선택
			 */
			function checkAllGoods(obj) {

				if ($(obj).is(":checked")) {
					$("input[name='code']").prop("checked", true);
				} else {
					$("input[name='code']").prop("checked", false);
				}
			}
			/*[- end of function -]*/

			/**
			 * 상품 선택
			 */
			function checkOneGoods(obj) {

				/*[- 전체 상품 -]*/
				var allGoods = $("input[name='code']");
				/*[- 선택된 상품 -]*/
				var checkedGoods = $("input[name='code']:checked");
				/*[- 전체 상품의 개수와 선택된 상품의 개수가 같으면 상품 전체 선택에 checked 적용 -]*/
				if (allGoods.length == checkedGoods.length) {
					$("#checkAllGoods").prop("checked", true);
				} else {
					$("#checkAllGoods").prop("checked", false);
				}
			}
			/*[- end of function -]*/

		/* ]]> */
		</script>
	</th:block>

</html>