<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="content">
		<div id="container">
			<div class="join_box">
				<form th:action="@{/users}" th:object="${user}" method="post" onsubmit="return validationOfForm(this)">
					<!--/* 중복 확인 체크 hidden Element */-->
					<input type="hidden" name="isChecked" />

					<p class="page_title">회원 가입</p>
					<div class="box">
						<div class="box_cont form_write">
							<dl>
								<dt>아이디</dt>
								<dd>
									<input type="text" th:field="*{username}" class="type1" maxlength="30" placeholder="이메일 형식으로 입력해 주세요." />
									<button type="button" class="btn btn_black" onclick="checkEmailDuplicate(this)">중복 확인</button>
								</dd>
							</dl>
							<dl>
								<dt>닉네임</dt>
								<dd>
									<input type="text" th:field="*{nickname}" maxlength="10" placeholder="한글 형식으로 입력해 주세요." />
								</dd>
							</dl>
							<dl>
								<dt>비밀번호</dt>
								<dd>
									<input type="password" th:field="*{password}" maxlength="50" placeholder="영문, 숫자, 특수문자를 포함하여 8~20자 이하로 입력해 주세요." />
								</dd>
							</dl>
							<dl>
								<dt>비밀번호 확인</dt>
								<dd>
									<input type="password" name="passwordCheck" maxlength="50" placeholder="비밀번호를 한번 더 입력해 주세요." />
								</dd>
							</dl>
							<dl>
								<dt>연락처</dt>
								<dd>
									<input type="text" th:field="*{phone}" maxlength="11" placeholder="'ㅡ' 없이 숫자만 입력해 주세요." />
								</dd>
							</dl>
						</div>
						<!--/* //.box_cont */-->
					</div>
					<!--/* //.box */-->

					<div class="btn_wrap text_center">
						<button type="submit" class="btn btn_black wp100">가입하기</button>
					</div>
				</form>
			</div>
			<!--/* //.join_box */-->
		</div>
		<!--/* //#container */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/* <![CDATA[ */

			function checkEmailDuplicate(obj) {
				/*[- 이메일 체크 정규식 -]*/
				var regexp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
				var username = $(obj).prev();
				if ( regexp.test(username.val()) == false ) {
					alert("아이디를 이메일 형식으로 입력해 주세요.");
					username.focus();
					return false;
				}

				var uri = obj.form.action + '/' + username.val();
				$.ajax({
					url : uri,
					type : "get",
					headers: {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "get"
					},
					dataType : "json",
					async : false,
					success : function(response) {
						if (isEmpty(response)) {
							alert("사용 가능한 아이디입니다.");
							obj.form.isChecked.value = 'Y';
						} else {
							alert("이미 사용 중인 아이디입니다.");
							obj.form.isChecked.value = 'N';
						}
					},
					error : function(request, status, error) {
						alert("오류가 발생하였습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}

			function validationOfForm(form) {

				if (form.isChecked.value != 'Y') {
					alert("아이디 중복 확인을 완료해 주세요.");
					form.username.focus();
					return false;
				}

				var result = (
						   isValid(form.username, "아이디", null, null)
						&& isValid(form.nickname, "닉네임", null, null)
						&& isValid(form.password, "비밀번호", null, null)
						&& equals(form.password, form.passwordCheck, "비밀번호")
						&& isValid(form.phone, "연락처", null, null)
				);

				if (result == false) {
					return false;
				}

				/*[- ajax 요청에 필요한 key, value 형태의 오브젝트 생성 -]*/
				var params = makeAjaxRequestData(form);
				if (isEmpty(params)) {
					alert("오류가 발생하였습니다. 새로고침 후에 다시 시도해 주세요.");
					return false;
				}

				$.ajax({
					url : form.action,
					type : "post",
					headers: {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "post",
						"X-CSRF-TOKEN" : getToken(),
					},
					dataType : "json",
					data : JSON.stringify(params),
					async : false,
					success : function(response) {
						alert(response.message);
						if (response.result == true) {
							location.href = /*[[ @{/login} ]]*/;
						}
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}
			/*[- end of function -]*/

			/* ]]> */
		</script>
	</th:block>

</html>