<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="content">
		<div id="container">
			<div class="join_box">
				<form th:action="@{/users/} + ${user.username}" th:object="${user}" method="post" onsubmit="return validationOfForm(this)">
					<!--/* 계정 정보를 변경하는 경우에 사용되는 hidden parameter */-->
					<input type="hidden" th:field="*{idx}" />

					<p class="page_title">정보 수정</p>
					<div class="box">
						<div class="box_cont form_write">
							<dl>
								<dt>아이디</dt>
								<dd>
									<input type="text" th:field="*{username}" maxlength="30" readonly />
								</dd>
							</dl>
							<dl>
								<dt>닉네임</dt>
								<dd>
									<input type="text" th:field="*{nickname}" maxlength="10" />
								</dd>
							</dl>
							<dl>
								<dt>현재 비밀번호</dt>
								<dd>
									<input type="password" name="password" maxlength="50" placeholder="현재 비밀번호를 입력해 주세요." />
								</dd>
							</dl>
							<dl>
								<dt>새로운 비밀번호</dt>
								<dd>
									<input type="password" name="newPassword" maxlength="50" placeholder="변경할 비밀번호를 입력해 주세요." />
								</dd>
							</dl>
							<dl>
								<dt>새로운 비밀번호 확인</dt>
								<dd>
									<input type="password" name="newPasswordCheck" maxlength="50" placeholder="변경할 비밀번호를 한번 더 입력해 주세요." />
								</dd>
							</dl>
							<dl>
								<dt>연락처</dt>
								<dd>
									<input type="text" th:field="*{phone}" maxlength="11" placeholder="'ㅡ' 없이 숫자만 입력해 주세요." />
								</dd>
							</dl>
						</div>
						<!--/* //.box_cont */-->
					</div>
					<!--/* //.box */-->

					<div class="btn_wrap text_center">
						<button type="submit" class="btn btn_black wp100">수정하기</button>
					</div>
				</form>
			</div>
			<!--/* //.join_box */-->
		</div>
		<!--/* //#container */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/* <![CDATA[ */

			function validationOfForm(form) {

				var result = (
						   isValid(form.nickname, "닉네임", null, null)
// 						&& equals(form.password, form.passwordCheck, "비밀번호")
						&& isValid(form.password, "현재 비밀번호", null, null)
						&& isValid(form.phone, "연락처", null, null)
				);

				if (result == false) {
					return false;
				}

				/*[- ajax 요청에 필요한 key, value 형태의 오브젝트 생성 -]*/
				var params = makeAjaxRequestData(form);
				if (isEmpty(params)) {
					alert("오류가 발생하였습니다. 새로고침 후에 다시 시도해 주세요.");
					return false;
				}

				/*[- spring security csrf token -]*/
				var token = $("meta[name='_csrf']").attr("content");

				$.ajax({
					url : form.action,
					type : "patch",
					headers: {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "patch",
						"X-CSRF-TOKEN" : token,
					},
					dataType : "json",
					data : JSON.stringify(params),
					async : false,
					success : function(response) {
						alert(response.message);
						if (response.result == true) {
							location.reload();
						}
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}
			/*[- end of function -]*/

			/* ]]> */
		</script>
	</th:block>

</html>