<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="add-resource">
		<!--/* slick */-->
		<link rel="stylesheet" type="text/css" th:href="@{/jquery/slick/slick.css}"/>
		<script type="text/javascript" th:src="@{/jquery/slick/slick.min.js}"></script>
	</th:block>

	<th:block layout:fragment="content">
		<div id="container">
			<div class="main_visual">
				<!-- slide -->
				<div class="main_slide_wrap">
					<div class="main_slide">
						<div class="" style="background: url('/images/common/visual.jpg') center center no-repeat;">slide01</div>
						<div class="" style="background: url('/images/common/visual.jpg') center center no-repeat;">slide01</div>
						<div class="" style="background: url('/images/common/visual.jpg') center center no-repeat;">slide01</div>
					</div>
					<script>
						$(document).ready(function () {
							$('.main_slide').slick({
								dots: true,
								infinite: true,
								arrows: false,
								speed: 500,
								fade: true,
							});
						});
					</script>
				</div>
			</div>
		
			<div class="favorite main_goods clear">
				<div class="inner">
					<p class="title">BEST SELLER</p>
					<ul>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
					</ul>
					<a href="#" class="btn btn_border_black btn_more clear">+ 더보기</a>
				</div>
			</div>
		
			<div class="new main_goods clear">
				<div class="inner">
					<p class="title">NEW ARRIVAL</p>
					<ul>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<span class="price">100,700</span>
							</a>
						</li>
					</ul>
					<a href="#" class="btn btn_border_black btn_more clear">+ 더보기</a>
				</div>
			</div>
		
			<div class="discount main_goods clear">
				<div class="inner">
					<p class="title">SALE</p>
					<ul>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<del>130,000</del>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<del>130,000</del>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<del>130,000</del>
								<span class="price">100,700</span>
							</a>
						</li>
						<li>
							<a href="" class="img_wrap">
								<span class="img_box"><img th:src="@{/images/common/thumb.jpg}" alt="" /></span>
							</a>
							<a href="" class="txt_wrap">
								<span class="name">나이키</span>
								<del>130,000</del>
								<span class="price">100,700</span>
							</a>
						</li>
					</ul>
					<a href="#" class="btn btn_border_black btn_more clear">+ 더보기</a>
				</div>
			</div>
		</div>
	</th:block>
</html>