<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<!-- Sns -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="사이트명">
<meta property="og:image" content="이미지 url"> <!-- 비율은 2:1 -->
<meta property="og:title" content="제목">
<meta property="og:description" content="설명">
<meta property="og:url" content="페이지 url">

<title>do-yonug's mall</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />

<!-- Css -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script>window.jQuery || document.write('<link rel="stylesheet" href="lib/css/jquery-ui.min.css">')</script>

<link rel="stylesheet" type="text/css" href="lib/css/style.css"/>
<link rel="stylesheet" type="text/css" href="lib/css/media.css"/>

<!-- IE9이하버전 css적용 -->
<!--[if IE]>
<style>
	select {padding: 0 0 0 5px;}
</style>
<![endif]-->

<!-- Js -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="lib/js/jquery-1.12.0.min.js"><\/script>')</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="lib/js/jquery-ui.min.js"><\/script>')</script>

<script type="text/javascript" src="lib/js/ui.js"></script>
<script src="js/common.js}"></script>

</head>
<body>
<div id="wrapper">


<!-- shortcut -->
<div class="shortcut">
	<ul>
		<li><a href="#container">본문 바로가기</a></li>
		<li><a href="#menu">메뉴 바로가기</a></li>
	</ul>
</div>
<!-- //shortcut -->


<!-- header -->
<header>
	<div class="header_wrap">
		<div class="util">
			<ul class="inner">
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
			</ul>
		</div>
		<div class="gnb">
			<div class="inner">
				<a href="#" class="logo">LOGO<img src="" alt="" /></a>
				<nav>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
					<a href="">menu1</a>
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- //header -->


<!-- container -->
<div id="container">
	<div class="favorite main_goods clear">
		<div class="inner">
			<p class="title">
				인기 상품
				<a href="" class="more">More</a>
			</p>
			<ul>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="new main_goods clear">
		<div class="inner">
			<p class="title">
				새로운 상품
				<a href="" class="more">More</a>
			</p>
			<ul>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<span class="price">100,700</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="discount main_goods clear">
		<div class="inner">
			<p class="title">
				할인 상품
				<a href="" class="more">More</a>
			</p>
			<ul>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<del>130,000</del>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<del>130,000</del>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<del>130,000</del>
						<span class="price">100,700</span>
					</a>
				</li>
				<li>
					<a href="" class="img_wrap">
						<span class="img_box"><img src="" alt=""></span>
					</a>
					<a href="" class="txt_wrap">
						<span class="name">나이키</span>
						<del>130,000</del>
						<span class="price">100,700</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div>
	<form name="form" th:action="@{/goods}" method="post" onsubmit="return validationOfForm(this)">
		<table>
			<colgroup>
				<col width="190px" />
				<col width="auto" />
			</colgroup>
			<tbody>
				<tr>
					<th>이 름</th>
					<td><input type="text" name="name" /></td>
				</tr>
				<tr>
					<th>설 명</th>
					<td><textarea name="description"></textarea></td>
				</tr>
				<tr>
					<th>가 격</th>
					<td><input type="text" name="price" /></td>
				</tr>
				<tr>
					<th>색 상</th>
					<td id="hehe">
						<input type="text" name="color" onkeydown="addColorOrSize(this)" maxlength="10" />
					</td>
				</tr>
				<tr>
					<th>사이즈 단위</th>
					<td>
						<select name="unit" onchange="createSizeInput(this)">
							<option value="5">5</option>
							<option value="10">10</option>
						</select>
					</td>
				</tr>
				<tr>
					<!--/* 체크박스로 구현할지 입력으로 구현할지 생각해보기 */-->
					<th>사 이 즈</th>
					<td>
						<input type="text" name="size" data-color="블루" />
						<select name="quantity" data-color="블루">
							<option th:each="seq : ${#numbers.sequence( 1, 30 )}" th:value="${seq}" th:text="${seq}"></option>
						</select><br />
						<input type="text" name="size" data-color="블루" />
						<select name="quantity" data-color="블루">
							<option th:each="seq : ${#numbers.sequence( 1, 30 )}" th:value="${seq}" th:text="${seq}"></option>
						</select><br />
					</td>
					<td>
						<input type="text" name="size" data-color="레드" />
						<select name="quantity" data-color="레드">
							<option th:each="seq : ${#numbers.sequence( 1, 30 )}" th:value="${seq}" th:text="${seq}"></option>
						</select><br />
						<input type="text" name="size" data-color="레드" />
						<select name="quantity" data-color="레드">
							<option th:each="seq : ${#numbers.sequence( 1, 30 )}" th:value="${seq}" th:text="${seq}"></option>
						</select><br />
					</td>
					<td>
						<input type="text" name="size" data-color="화이트" />
						<select name="quantity" data-color="화이트">
							<option th:each="seq : ${#numbers.sequence( 1, 30 )}" th:value="${seq}" th:text="${seq}"></option>
						</select><br />
						<input type="text" name="size" data-color="화이트" />
						<select name="quantity" data-color="화이트">
							<option th:each="seq : ${#numbers.sequence( 1, 30 )}" th:value="${seq}" th:text="${seq}"></option>
						</select><br />
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="submit">전송</button>
		</div>
	</form>
</div>
<!-- //container -->


<!-- footer -->
<footer>
	<div class="footer_wrap">
		<div class="footer_menu">
			<!-- 항상 큰 거 안에 inner를 지정하기 (송이 선배의 말씀) -->
			<ul class="inner">			   
				<li><a href="">개인정보처리방침</a></li>
				<li><a href="">이용약관</a></li>
				<li><a href="">문의하기</a></li>
			</ul>
		</div>
		<div class="copyright clear">
			<div class="inner">
				<p>
					<span>주소 : 인천광역시 부평구 산곡2동</span>
					<span>연락처 : 010-3328-0000</span>
					<span>팩스 : 032-517-0000</span>
				</p>
				<p> Copyright 2019 do-yonug's mall All Rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->


</div>
	<script th:inline="javascript">
		/* <![CDATA[ */


		function createSizeInput(obj) {

			var colors = $("input[name='color']");
			var html = "";
// 			html += '<td>';
				html += '<input type="text" name="size" onkeydown="addColorOrSize(this)" maxlength="3" /><br />';
// 			html += '</td>';
			
			for (var i = 0; i < 5; i++) {
				console.log(i)
			}
			
			return false;
			
		
			for ( var i = 0; i < colors.length; i++ ) {
				$(obj.form.tempSize).parent().before(html);
			}
			console.log(colors.length);
			console.log($("input[name='size']").length);
			
		}
		
		function addColorOrSize(obj) {

			var keyCode = window.event.keyCode;
			if (keyCode === 9) {
				if ( isEmpty(obj.value) ) {
					if (obj.name === "color") {
						alert("색상을 입력해 주세요.");
						return false;
					} else if (obj.name === "size") {
						alert("사이즈를 입력해 주세요.");
						return false;
					}
				} else {
					var html = "";
// 					html += '<td>';
						html += '<input type="text" name="'+obj.name+'" onkeydown="addColorOrSize(this)" maxlength="'+obj.getAttribute("maxlength")+'" />';
// 					html += '</td>';

					$('input[name="'+obj.name+'"]').removeAttr("onkeydown");
					$(obj).after(html);
				}

			}
		}
		
		function removeColorOrSize(obj) {
		
			console.log( $(obj).parent().attr("id") );
			$(obj).parent().remove()
		}

		function validationOfForm(form) {

			/*[- 전체 사이즈를 담는 배열 -]*/
			var sizeArr = new Array();
			/*[- 각 색상의 사이즈, 수량들을 담는 오브젝트  -]*/
			var option = new Object();
			/*[- 전체 색상의 사이즈, 수량들을 담는 오브젝트  -]*/
			var options = new Object();
			/*[- 서버에 전송할 각 데이터들을 담는 오브젝트 -]*/
			var param = new Object();
			/*[- 서버에 전송할 전체 데이터들을 담는 오브젝트 -]*/
			var params = new Object();

			$(form.color).each(function(idx, color) {
				$(form.size).each(function(idx, size) {
					/*[- 해당 색상과 사이즈의 data 속성의 값이 일치하면 배열에 추가 -]*/
					if (color.value === $(size).data("color")) {
						sizeArr.push(size.value);
					}
				});

				$(form.quantity).each(function(idx, quantity) {
					/*[- 해당 색상과 수량의 data 속성의 값이 일치하면 배열에 추가 -]*/
					if (color.value === $(quantity).data("color")) {
						/*[- 예시:) 사이즈가 200이고 수량이 5개인 경우 "200": 5와 같은 형태로 오브젝트에 추가 -]*/
						option[String(sizeArr[idx])] = parseInt(quantity.value);
					}
				});

				/*[- 예시:) 블루 색상의 경우 {"블루": {"200": 5}}와 같은 형태로 오브젝트에 추가 -]*/
				options[color.value] = option;
				/*[- 이전 색상의 사이즈, 수량의 정보를 지우기 위해 오브젝트를 재생성, delete options.XXX를 사용해도 됨 -]*/
				option = new Object();
			});

			/*[- 전체 색상의 사이즈, 수량을 오브젝트에 추가 -]*/
			param["options"] = options;
			/*[- CombineDTO의 stock 인스턴스와 매핑 -]*/
			params["stock"] = param;

			/*[- 폼의 모든 입력 데이터를 array 형태로 serialize -]*/
			var formData = $(form).serializeArray();
			$(formData).each(function(idx, obj) {
				if (isEmpty(obj.value) == false) {
					/*[- 예시:) 이름이 나이키의 경우 "name": "나이키"와 같은 형태로 오브젝트에 추가 -]*/
					params[obj.name] = obj.value;
				}
			});

			/*[- params에 추가한 색상, 사이즈, 수량의 정보는 이미 존재하기 때문에 삭제 -]*/
			delete params.color;
			delete params.quantity;
			delete params.size;

			$.ajax({
				url : form.action,
				type : "post",
				headers : {
					"Content-Type" : "application/json",
					"X-HTTP-Method-Override" : "post"
				},
				dataType : "json",
				data : JSON.stringify(params),
				async : false,
				success : function(response) {
					console.log(response);
				},
				error : function(request, status, error) {
					console.log(request);
				}
			});

			return false;
		}
		
		function test(obj) {
			$(obj).remove();
		}
		
		function isEmpty(value) {
			if (value == null || value == "" || value == undefined || (value != null && typeof value == "object" && !Object.keys(value).length)) {
				return true;
			}

			return false;
		}
		
		$.fn.serializeObject = function() {

			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
		/* ]]> */
	</script>
</body>
</html>