<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="add-resource">
		<!--/* slick */-->
		<link rel="stylesheet" type="text/css" th:href="@{/user/jquery/slick/slick.css}"/>
		<script type="text/javascript" th:src="@{/user/jquery/slick/slick.min.js}"></script>
	</th:block>

	<th:block layout:fragment="content">
		<div id="container">
			<div class="main_visual">
				<!-- slide -->
				<div class="main_slide_wrap">
					<div class="main_slide">
						<!-- <div style="background: url('/user/images/common/do_young1.jpg') center center no-repeat;">slide01</div>
						<div style="background: url('/user/images/common/do_young2.jpg') center center no-repeat;">slide01</div>
						<div style="background: url('/user/images/common/do_young3.jpg') center center no-repeat;">slide01</div> -->
					</div>
					<script>
						$(document).ready(function () {
							$('.main_slide').slick({
								dots: true,
								infinite: true,
								arrows: false,
								speed: 500,
								fade: true,
							});
						});
					</script>
				</div>
			</div>

			<!--/* 인기 있는 상품 */-->
			<div class="favorite main_goods clear">
				<div class="inner">
					<p class="title">BEST SELLER</p>
					<ul th:if="${not #lists.isEmpty(bestGoods)}">
						<li th:each="row, status : ${bestGoods}">
							<a th:href="@{/goods/details( code=${row.code} )}" class="img_wrap">
								<span class="img_box">
									<img th:src="@{/goods/images/} + ${#temporals.format(row.attachList[0].insertTime, 'yy-MM-dd')} + '/' + ${row.attachList[0].storedName}" th:alt="shoes + ${status.index}" />
								</span>
							</a>
							<a th:href="@{/goods/details( code=${row.code} )}" class="txt_wrap">
								<span class="name" th:text="${row.name}"></span>
								<span th:if="${row.status == T(com.dy.common.Const.Status).D}" class="price" th:text="${#numbers.formatInteger(T(Math).floor(((row.price * (1 - row.rate / 100.0)) / 10.0)) * 10.0, 3, 'COMMA')}"></span>
								<span th:unless="${row.status == T(com.dy.common.Const.Status).D}" class="price" th:text="${#numbers.formatInteger(row.price, 3, 'COMMA')}"></span>
							</a>
						</li>
					</ul>
					<a th:href="@{/goods/list( searchOrder=BEST )}" class="btn btn_border_black btn_more clear">+ 더보기</a>
				</div>
			</div>

			<!--/* 새로운 상품 */-->
			<div class="new main_goods clear">
				<div class="inner">
					<p class="title">NEW ARRIVAL</p>
					<ul th:if="${not #lists.isEmpty(newGoods)}">
						<li th:each="row, status : ${newGoods}">
							<a th:href="@{/goods/details( code=${row.code} )}" class="img_wrap">
								<span class="img_box">
									<img th:src="@{/goods/images/} + ${#temporals.format(row.attachList[0].insertTime, 'yy-MM-dd')} + '/' + ${row.attachList[0].storedName}" th:alt="shoes + ${status.index}" />
								</span>
							</a>
							<a th:href="@{/goods/details( code=${row.code} )}" class="txt_wrap">
								<span class="name" th:text="${row.name}"></span>
								<span th:if="${row.status == T(com.dy.common.Const.Status).D}" class="price" th:text="${#numbers.formatInteger(T(Math).floor(((row.price * (1 - row.rate / 100.0)) / 10.0)) * 10.0, 3, 'COMMA')}"></span>
								<span th:unless="${row.status == T(com.dy.common.Const.Status).D}" class="price" th:text="${#numbers.formatInteger(row.price, 3, 'COMMA')}"></span>
							</a>
						</li>
					</ul>
					<a th:href="@{/goods/list}" class="btn btn_border_black btn_more clear">+ 더보기</a>
				</div>
			</div>

			<!--/* 할인 상품 */-->
			<div class="discount main_goods clear">
				<div class="inner">
					<p class="title">SALE</p>
					<ul th:if="${not #lists.isEmpty( saleGoods )}">
						<li th:each="row, status : ${saleGoods}">
							<a th:href="@{/goods/details( code=${row.code} )}" class="img_wrap">
								<span class="img_box">
									<img th:src="@{/goods/images/} + ${#temporals.format(row.attachList[0].insertTime, 'yy-MM-dd')} + '/' + ${row.attachList[0].storedName}" th:alt="shoes + ${status.index}" />
								</span>
							</a>
							<a th:href="@{/goods/details( code=${row.code} )}" class="txt_wrap">
								<span class="name" th:text="${row.name}"></span>
								<del th:text="${#numbers.formatInteger( row.price, 3, 'COMMA' )}"></del>
								<span class="price" th:text="${#numbers.formatInteger(T(Math).floor(((row.price * (1 - row.rate / 100.0)) / 10.0)) * 10.0, 3, 'COMMA')}"></span>
							</a>
						</li>
					</ul>
					<a th:href="@{/goods/list( status=D)}" class="btn btn_border_black btn_more clear">+ 더보기</a>
				</div>
			</div>
		</div>
	</th:block>
</html>