<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<style type="text/css">
		.drop {
			width: 80%; height: 100px;
			border: 1px dotted gray;
			background-color: lightblue;
			margin: 0 auto;
			margin-top: 50px;
		}
	</style>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="lib/js/jquery-1.12.0.min.js"><\/script>')</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>window.jQuery || document.write('<script src="lib/js/jquery-ui.min.js"><\/script>')</script>
</head>
<body>
	<form action="/uploadTest" method="post" enctype="multipart/form-data">
		<input type="file" name="file" multiple="multiple" />
		<input type="submit" />
	</form>
	
	<div class="drop">
		<img id="original" />
	</div>
	
	<div class="drop" style="margin-top: 300px;">
		<img id="thumbnail" />
	</div>
	
	<script>
		$(".drop").on("dragenter dragover", function(e) {
			e.preventDefault();
		});
	
		$(".drop").on("drop", function(e) {
			e.preventDefault();
			
			// 이벤트와 같이 전달받은 파일 데이터 조회
			var files = e.originalEvent.dataTransfer.files;
			var file = files[0];
			
			var formData = new FormData();
			formData.append("file", file);

			var reader = new FileReader();
			reader.readAsDataURL(file);
			
			reader.onload = function(e) {
				/*
				 * reader.result = e.target.result와 같음
				 */
				
				// 원본 이미지
				document.getElementById('original').src = reader.result;
				
				// 썸네일 이미지
				var img = new Image(); // drawImage 메소드에 넣기 위해 이미지 오브젝트화
				img.src = e.target.result; // data-uri를 이미지 오브젝트에 주입
				img.onload = function() {
					// 리사이즈를 위해 캔버스 오브젝트 생성
					var canvas = document.createElement("canvas");
					var canvasContext = canvas.getContext("2d");
					
					// 캔버스 사이즈 설정
					canvas.width = img.width * 0.5;
					canvas.height = img.height * 0.5;
					
					// 이미지를 캔버스에 렌더링
					canvasContext.drawImage(this, 0, 0, canvas.width, canvas.height);
					
					// 캔버스에 그린 이미지를 다시 data-uri 형태로 변환
					var dataURI = canvas.toDataURL("image.*");
					
					// 썸네일 미리보기
					document.getElementById('thumbnail').src = dataURI;
				}
			}

			return false;
			$.ajax({
				url : "/uploadTest",
				type : "post",
				dataType : "text",
				data : formData,
				contentType : false,
				processData : false, // 데이터를 일반적인 Query String으로 변환할 것인지를 결정하는 속성으로 기본값으로 true를 가짐
				success : function(response) {
					console.log(response);
				},
				error : function(request, status, error) {
					console.log("error : " + request);
				}
			});

			return false;
		});
	</script>
</body>
</html>