<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin/basic">

	<th:block layout:fragment="add-resource">
		<!--/* CKEditor CDN */-->
		<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
	</th:block>

	<th:block layout:fragment="content">
		<div class="contents">
			<div class="page_route">
				<a href="#" class="home" title="Home">Home</a>
				<a href="#" title="상품 관리">상품 관리</a>
				<a href="#" title="상품 등록">상품 등록</a>
			</div>

			<div class="inner">
				<h1 class="page_title">상품 등록</h1>

				<div class="form_write pd_regi">
					<form th:action="@{/admin/goods}" th:object="${goods}" method="post" onsubmit="return validationOfForm(this)">
						<table>
							<caption></caption>
							<colgroup>
								<col style="width: 180px;" />
								<col style="*" />
							</colgroup>
							<tbody>
								<tr>
									<th>상품명</th>
									<td>
										<input type="text" th:field="*{name}" class="type2" />
									</td>
								</tr>
								<tr>
									<th>가격</th>
									<td>
										<input type="text" th:field="*{price}" class="type2" />
									</td>
								</tr>
								<tr>
									<th>색상</th>
									<td>
										<input type="text" th:field="*{stock.color}" class="type2" />
									</td>
								</tr>
								<tr>
									<th>사이즈</th>
									<td>
										<div class="table_wrap">
											<ul class="thead">
												<li th:each="seq : ${#numbers.sequence( 1, 4, 1 )}">
													<span>사이즈</span>
													<span class="type1">재고</span>
												</li>
											</ul>
											<ul class="tbody">
												<!--/* 상품 등록의 경우 */-->
												<li th:if="${#arrays.isEmpty( options )}" th:each="size : ${#numbers.sequence( 220, 315, 5 )}">
													<span th:text="${size}"></span>
													<input type="text" name="quantity" value="0" />
												</li>
												<!--/* 상품 수정의 경우 */-->
												<li th:unless="${#arrays.isEmpty( options )}" th:each="size : ${options.keySet()}">
													<span th:text="${size}"></span>
													<input type="text" name="quantity" th:value="${options.get(size)}" />
												</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<th>설명</th>
									<td>
										<div class="pd30 bg_lightgray">
											<textarea th:field="*{description}"></textarea>
							                <!-- <script>
												CKEDITOR.replace('description', {
													filebrowserImageUploadUrl: '/undefined',
													removeDialogTabs: 'link:target;link:advanced;image:advanced;image:Link'
										        });
							                </script> -->
										</div>
									</td>
								</tr>
								<tr>
									<th>이미지</th>
									<td th:if="${#arrays.isEmpty( files )}">
										<div class="file_box">
											<input type="text" id="file0" class="wd300" readonly />
											<label class="btn">
												파일 선택
												<input type="file" name="files" onchange="document.getElementById('file0').value = this.value" />
											</label>
											<button type="button" class="btn btn_navy" onclick="addFiles(this)">+ 추가</button>
										</div>
										<br />
									</td>
									<td th:unless="${#arrays.isEmpty( files )}">
										<div class="file_box" th:each="row, status : ${files}">
											<input type="text" id="file0" class="wd300" th:value="${row.originalName}" readonly />
											<label class="btn">
												파일 선택
												<input type="file" name="files" onchange="document.getElementById('file0').value = this.value" />
											</label>
											<button type="button" class="btn btn_navy" onclick="addFiles(this)">+ 추가</button>
										</div>
										<br />
									</td>
								</tr>
							</tbody>
						</table>

						<div class="btn_wrap text_right">
							<a th:href="@{/admin/goods/list}" class="btn btn_lightgray">취소</a>
							<input type="submit" value="등록" class="btn btn_navy" />
						</div>
					</form>
				</div>
				<!--/* //.form_write */-->
			</div>
			<!--/* //.inner */-->
		</div>
		<!--/* //.contents */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* <![CDATA[ */

			/**
			 * 이미지 파일 선택 html 추가
			 */
			/*[- files의 id에 파읾명을 지정하기 위한 인덱스 -]*/
			var idx = 0;
			function addFiles(obj) {

				var html = "";
				html += '<div class="file_box">';
					html += '<input type="text" id="file'+ (++idx) +'" class="wd300" readonly />';
					html += '<label class="btn">';
						html += '파일 선택';
						html += '<input type="file" name="files" onchange="document.getElementById(\'file'+ idx +'\').value = this.value" />';
					html += '</label>';
					html += '<button type="button" class="btn btn_navy" onclick="removeFile(this)">- 삭제</button>';
				html += '</div>';
				html += '<br />';

				$(obj).parent().next().after(html);
			}

			/**
			 * 첨부 이미지 삭제
			 */
			function removeFile(obj) {

				/*[- <br /> 태그를 먼저 삭제해야 remove 함수가 정상적으로 작동 -]*/
				$(obj).parent().next().remove();
				$(obj).parent().remove();
			}

			/**
			 * 상품 등록 폼 유효성 검사
			 */
			function validationOfForm(form) {

				/*[- 사이즈, 수량을 key : value 형태로 담는 오브젝트 -]*/
				var options = new Object();
				$(".tbody > li").each(function(idx, obj) {
					var size = $(obj).children("span").text();
					var quantity = $(obj).children("input").val();
					options[String(size)] = parseInt(quantity);
				});

				/*[- 서버로 전달할 FormData -]*/
				var formData = new FormData(form);
				formData.append("stock.options", JSON.stringify(options));

				/*[- spring security csrf token -]*/
				var token = $("meta[name='_csrf']").attr("content");

				$.ajax({
					url : form.action,
					type : "post",
					headers : {
						"X-HTTP-Method-Override" : "post",
						"X-CSRF-TOKEN" : token,
					},
					dataType : "json",
					data : formData,
					contentType : false,
					processData : false, /*[- 데이터를 일반적인 Query String으로 변환할 것인지를 결정하는 속성으로 기본값으로 true를 가짐 -]*/
					async : false, /*[- 데이터를 일반적인 Query String으로 변환할 것인지를 결정하는 속성으로 기본값으로 true를 가짐 -]*/
					success : function(response) {
						if (isEmpty(response.message) == false) {
							alert(response.message);
							return false;
						}
						alert("상품 등록이 완료되었습니다.");
						location.href = /*[[ @{/admin/goods} ]]*/;
					},
					error : function(request, status, error) {
						alert("오류가 발생하였습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});

				return false;
			}

		/* ]]> */
		</script>
	</th:block>

</html>